@use '@shared/styles/reusable.scss' as *;

.hintWrapper {
  background-color: var(--dark-240);
  border: 2px solid var(--dark-100);
  border-radius: var(--radius-20);
  padding: 8px 12px;
  z-index: 1000;
  @extend %no-select;
  @include effect(background-blur-shadow);
}
