@import "@shared/styles/reusable.scss";

.root {
  max-width: calc(var(--fullHD) - 104px);
  width: 100%;

  background-color: var(--dark-300);
  border-radius: var(--big-radius);
}

.header {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headerSubTitle {
  opacity: 0.7;
}

.main {
  padding: 0px 24px 24px 24px;
}

.olSpace {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: $fullHD) {
  .root {
    max-width: calc(var(--HD) - 16px);
  }
}
