@use '@shared/styles/reusable.scss' as *;

@keyframes loading {
  from {
    filter: drop-shadow(0px 0px 20px var(--bisky-140));
    opacity: 0.8;
  }
  50% {
    filter: drop-shadow(0px 0px 20px var(--bisky-100));
    opacity: 1;
    scale: 1.02;
  }
  to {
    filter: drop-shadow(0px 0px 20px var(--bisky-140));
    opacity: 0.8;
  }
}

@keyframes error {
  from {
    fill: var(--red);
    transform: translateX(8px);
  }
  25% {
    fill: var(--red);
    transform: translateX(-8px);
  }
  50% {
    fill: var(--red);
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  to {
    transform: translateX(0px);
  }
}

.logo {
  fill: var(--bisky-100);
  height: 64px;
  width: 64px;

  &_loading {
    animation: loading ease-in-out infinite 1s;
  }

  &_error {
    animation: error ease-in-out 0.4s;
  }
}

.error {
  color: var(--red);
  text-align: center;
  @extend %invoke-scale;
  @include text-style(16);
}

.form {
  width: 100%;
}

.input {
  position: relative;
  width: 100%;

  &_login {
    border-radius: var(--radius-12) var(--radius-12) 0 0 !important;

    &:focus {
      z-index: 1;
    }
  }

  &_password {
    border-radius: 0 0 var(--radius-12) var(--radius-12) !important;

    &:focus {
      z-index: 1;
    }
  }
}

.button {
  background-color: var(--bisky-300);
  margin-top: 16px;
  width: 100%;
}

.reset {
  border-bottom: 1px solid var(--bisky-100);
  color: var(--bisky-100);
  @include transition(filter);

  &:hover {
    filter: brightness(1.2);
  }
}
