@use "@/theme/colors";
@use "@/theme/modification";

.best {
  @extend .container;

  margin-top: 20px;

  &__block {
    @extend .block;
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 40px;
    display: flex;
    align-self: center;
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
