@use "@/theme/colors";
@use "@/theme/modification";

@keyframes invoke {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.best {
  @extend .container;

  margin-top: 20px;

  &__label {
    width: 300px;
    font-size: 32px;
    transition: 0.2s;
    border-bottom: 5px solid colors.$transparent;

    &:hover {
      color: colors.$bisky-dark;
      border-bottom: 5px solid colors.$bisky-dark;
    }
  }

  &__block {
    @extend .block;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__button {
    display: flex;
    align-self: center;
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    &__element {
      animation: invoke 0.3s linear;
      max-width: 180px;

      &_img {
        border-radius: 20px;
      }

      &_label {
        max-height: 50px;
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
