@use "@/01-shared/themes/colors.scss" as *;
@use "@/01-shared/themes/extra.scss" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  padding: 0px 24px;
  box-sizing: border-box;

  background-color: transparentize($bisky-dark-300, 0.2);
  backdrop-filter: saturate(180%) blur(10px);

  position: sticky;
  top: 0;
  z-index: 100;
}

@media screen and (max-width: $mobile) {
  .header {
    display: none;
  }
}
