@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;

  animation: invokeAll 0.2s ease-in-out;
}

.divider {
  background-color: var(--dark-400);
  width: calc(100% - 24px);
  margin: 0px 12px;
  height: 1px;

  &:last-child {
    display: none;
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 4px;
}

.poster {
  min-width: 60px;
  max-width: 60px;
  height: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.labelTextBig {
  width: 340px;
  height: 18px;
}

.labelTextSmall {
  width: 120px;
  height: 18px;
}

.info {
  display: flex;
  gap: 12px;
  height: 18px;
  justify-content: flex-end;
  align-items: flex-end;
}

.infoText {
  height: 14px;
  width: 60px;
}

.nothing {
  height: 18px;
}
