@use "@shared/styles/reusable.scss" as *;

.root {
  display: flex;
  justify-content: space-between;
}

.userAnimeList {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.link {
  color: var(--light-100);
  cursor: pointer;

  @include transition(color);

  &:hover {
    color: var(--bisky-100);
  }
}
