@use '@shared/styles/reusable.scss' as *;

.root {
  cursor: pointer;
  display: flex;
  touch-action: none;
}

.icon {
  fill: var(--light-100);
  height: 48px;
  width: 48px;
  @include transition(fill);

  &:hover,
  &:has(~ .icon:hover) {
    fill: var(--bisky-300);
  }

  &_selected {
    fill: var(--bisky-100) !important;
  }
}

@include media-query(tablet) {
  .icon {
    height: 36px;
    width: 36px;

    &:hover,
    &:has(~ .icon:hover) {
      fill: var(--light-100);
    }
  }
}
