@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @extend %invoke-scale;
}

.legalWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.legalButton {
  width: 100%;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainInfo {
  align-items: center;
  display: flex;
  gap: 20px;
}

.logoWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
}

.logo {
  fill: var(--light-100);
  height: 16px;
  width: 16px;
}

.logoText {
  @include text-style(20);
}

.mail {
  color: var(--bisky-100);
  @extend %press;
  @include transition((filter, scale), (250ms, 100ms));
  @include text-style(20);

  &:hover {
    filter: brightness(1.1);
  }
}

.privateText {
  color: var(--light-400);
}
