@use '@shared/styles/reusable.scss' as *;

.root {
  left: -20px;
  position: relative;
  width: calc(100% + 40px);
  @extend %invoke-scale;
}

.sliderWrapper {
  overflow: hidden;
}

.slider {
  display: flex;
  margin-left: -24px;
  padding-left: 20px;
  user-select: none;

  &_drag {
    cursor: grab;
  }
}

.slide {
  flex: 0 0 auto;
  height: 320px;
  margin-left: 24px;
  width: 200px;
}

.slideEmpty {
  flex-shrink: 0;
  width: 40px;
}

.arrow {
  background: transparent;
  border: 0;
  bottom: 0;
  opacity: 0.2;
  padding: 0px 12px;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1;
  @extend %invoke-scale;
  @include transition((filter, opacity, background));

  &:hover {
    filter: brightness(1.1);
  }

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }

  &_active {
    cursor: pointer;
    opacity: 1;
    pointer-events: all;

    &.arrow_left {
      background: linear-gradient(to left, transparent, var(--dark-300));
    }

    &.arrow_right {
      background: linear-gradient(to right, transparent, var(--dark-300));
    }
  }
}

.arrowIcon {
  @extend %press, %no-select;

  height: 48px;
  width: 48px;
}

.skeleton {
  display: flex;
  gap: 24px;
  width: 3000px;
}

@include media-query(tablet) {
  .slider {
    margin-left: unset;
  }

  .slide {
    height: 204px;
    margin-left: 8px;
    width: 120px;

    &:first-child {
      margin-left: unset;
    }
  }

  .slideEmpty {
    width: 20px;
  }

  .arrow {
    display: none;
  }

  .skeleton {
    display: flex;
    gap: 8px;
  }
}
