@use "@/theme/colors" as *;

.watchStatusButton {
  border-radius: 10px;
  padding: 8px;
  display: flex;
  fill: $bisky-light-100;
  opacity: 0.8;
  transition: 0.2s;

  &:hover {
    opacity: 1 !important;
  }

  &_setWatch {
    background-color: $bisky-200;

    &:hover {
      background-color: $bisky-200;
    }
  }

  &_complete {
    background-color: $green;

    &:hover {
      background-color: $green;
    }
  }

  &_watching {
    background-color: $blue;

    &:hover {
      background-color: $blue;
    }
  }

  &_dropped {
    background-color: $bisky-dark-100;

    &:hover {
      background-color: $bisky-dark-100;
    }
  }
}
