@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  background-color: var(--dark-100);
  border-radius: var(--radius-12);
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  padding: 4px;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition(
    (background-color, filter, opacity, scale),
    (250ms, 250ms, 250ms, 100ms)
  );

  &:hover {
    opacity: 1;
  }

  &_hasNotifications {
    background-color: var(--bisky-100);
    opacity: 1;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.icon {
  height: 32px;
  width: 32px;
}
