@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}

.label {
  @include text-style(24);
}

.separator {
  background-color: var(--dark-400);
  height: 1px;
  opacity: 0.2;
  width: 80%;
}

.input {
  width: 100%;
}

.button {
  width: 100%;
}

@include media-query(tablet) {
  .root {
    width: 100%;
  }
}
