.root {
  position: fixed;
  inset: 0px;
  z-index: 100;

  background-color: var(--dark-400);
}

.iframe {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 102;

  animation: invokeAll 0.2s ease-in-out;
}

.loadingWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0px;
  z-index: 101;

  animation: invokeAll 0.2s ease-in-out;
}

.loading {
  width: 100%;
  height: 100%;
}
