@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 160px;

  position: relative;
}

.poster {
  height: 256px;
  width: 100%;

  border-radius: var(--big-radius);
}

.posterImage {
  object-fit: cover;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 36px;
}

.badges {
  display: flex;
  gap: 4px;

  transform-origin: 0 0;
}

.badge {
  &_inListCount {
    background-color: var(--bisky-200);
  }

  &_anons {
    background-color: var(--orange);
  }

  &_ongoing {
    background-color: var(--blue);
  }
}

.userData {
  display: flex;
  gap: 4px;
  align-items: center;

  position: absolute;
  z-index: 2;
  top: 216px;
  left: 8px;
}

.userScore {
  cursor: default;
  opacity: 0.7;
}

.relatedName {
  opacity: 0.8;
}
