.input {
  display: flex;
  padding: 8px 12px;
  width: 300px;
  border-radius: var(--small-radius);

  & svg {
    fill: var(--grey);
    width: 24px;
    height: 24px;
  }

  & input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400;
    padding: 0;

    &,
    &::placeholder {
      color: var(--grey);
    }
  }

  &.dark {
    background-color: var(--dark-100);

    & input:focus {
      color: var(--light-100);

      & + svg {
        fill: var(--light-100);
      }
    }
  }

  &.light {
    background-color: var(--light-100);

    & input:focus {
      color: var(--dark-400);

      & + svg {
        fill: var(--dark-400);
      }
    }
  }
}
