@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;

  border-radius: var(--small-radius);

  &_dark {
    background-color: var(--dark-100);

    .input {
      background-color: var(--dark-100);
      color: var(--light-100);
    }

    &:has(.input:focus) .icon {
      fill: var(--light-100);
    }
  }

  &_light {
    background-color: var(--light-100);

    .input {
      background-color: var(--light-100);
      color: var(--dark-100);
    }

    &:has(.input:focus) .icon {
      fill: var(--dark-100);
    }
  }

  &:has(.input:disabled) {
    background-color: var(--light-400);

    .input {
      background-color: var(--light-400);

      &::placeholder {
        color: var(--grey);
      }
    }

    .icon {
      cursor: default;
      fill: var(--grey);
    }
  }
}

.input {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 8px 0px 8px 12px;
  border: 0px;

  font-size: 20px;

  border-radius: var(--small-radius);

  &::placeholder {
    color: var(--light-400);
  }
}

.icon {
  width: 48px;
  height: 40px;
  padding: 8px 12px;

  cursor: pointer;
  fill: var(--light-400);

  @include transition(fill);
}
