@import "@shared/styles/reusable.scss";

.root {
  width: 100%;
  user-select: none;
}

.uploadWrapper {
  display: flex;
  position: relative;
  overflow: hidden;

  cursor: pointer;
  border: 2px dashed transparent;

  @include transition(border-color);

  &:hover {
    border-color: var(--bisky-400);

    .uploadIconWrapper {
      opacity: 1;
    }
  }

  width: 100%;
}

.uploadIconWrapper {
  z-index: 1;
  position: absolute;
  inset: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  @include transition(opacity);

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0px;
    background-color: var(--dark-400);

    opacity: 0.7;
  }
}

.uploadIcon {
  width: 40px;
  height: 40px;
}

.imageWrapper {
  object-fit: cover;
}

.cropWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  inset: 0px;
  z-index: 2;
  width: 700px;
  height: 700px;
  position: fixed;

  border-radius: var(--big-radius);
  background-color: var(--dark-200);
  border: none;
  box-shadow: 0px 0px 60px 12px var(--dark-460);

  animation: invokeAll 0.2s ease-in-out;
}

.cropMain {
  border-radius: var(--big-radius);
  position: relative !important;
  height: 100%;
  width: 100%;
}

.cropBox {
  border: 8px solid var(--bisky-400) !important;
}

.buttonWrapper {
  bottom: 0px;

  display: flex;
  justify-content: center;
  gap: 48px;
  width: 100%;
}

.imgIcon {
  width: 24px;
  height: 24px;

  &_small {
    scale: 0.9;
  }

  &_big {
    scale: 1.5;
  }
}

.cropRange {
  cursor: e-resize;
  accent-color: var(--bisky-200);
  width: 100%;
}

.cropRangeWrapper {
  width: 80%;
  display: flex;
  gap: 24px;
}

.applyButton {
  background-color: var(--bisky-200) !important;
}
