@use 'sass:list';

$effect-types: 'back-shadow', 'frame-blur', 'background-blur',
  'background-blur-shadow';

@function is-valid-effect($type) {
  @return list.index($effect-types, $type) != null;
}

@mixin effect($type) {
  @if not is-valid-effect($type) {
    @error "Effect type '#{$type}' is not valid. Valid types are: #{$effect-types}";
  }

  @if $type == 'back-shadow' {
    box-shadow: 0 0 4px 0 var(--black-25);
  } @else if $type == 'frame-blur' {
    filter: blur(8px);
  } @else if $type == 'background-blur' {
    backdrop-filter: blur(16px);
  } @else if $type == 'background-blur-shadow' {
    backdrop-filter: blur(16px);
    box-shadow: 0 0 4px 0 var(--black-25);
  }
}
