$estimate-map: (
  added: var(--bisky-100),
  watching: var(--blue),
  completed: var(--green),
  dropped: var(--bisky-400),
  delete: var(--light-400),
  noSelected: var(--bisky-300),
);

@mixin estimate-color($property) {
  @each $key, $value in $estimate-map {
    &_#{$key} {
      #{$property}: #{$value};
    }
  }
}
