@use 'sass:map';

$breakpoints-map: (
  mobile: 480px,
  tablet: 768px,
  hd: 1280px,
  full-hd: 1920px,
  qhd: 2560px,
);

@mixin media-query($device, $min: false) {
  $breakpoint: map.get($breakpoints-map, $device);

  @if not $breakpoint {
    @warn "#{$device} not found in $breakpoints";
  } @else if $min == true {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}

%breakpoints {
  @each $name, $size in $breakpoints-map {
    --#{$name}: #{$size};
  }
}
