@use 'sass:map';

$breakpoints: (
  mobile: 768px,
  tablet: 1024px,
  hd: 1280px,
  full-hd: 1920px,
  qhd: 2560px,
);

@mixin media-query($device, $min: false) {
  $breakpoint: map.get($breakpoints, $device);

  @if $breakpoint {
    @if $min == true {
      @media screen and (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media screen and (max-width: $breakpoint) {
        @content;
      }
    }
  } @else {
    @warn "#{$device} not found in \$breakpoints";
  }
}
