$score-map: (
  lowScore: var(--red),
  mediumScore: var(--orange),
  highScore: var(--lime),
);

@mixin score-color($property) {
  @each $key, $value in $score-map {
    &_#{$key} {
      #{$property}: #{$value};
    }
  }
}
