$status-map: (
  anons: var(--orange),
  ongoing: var(--blue),
  released: var(--green),
);

@mixin status-color($property) {
  @each $key, $value in $status-map {
    &_#{$key} {
      #{$property}: #{$value};
    }
  }
}
