@import "@shared/styles/reusable.scss";

@keyframes invoke {
  from {
    opacity: 0;
    scale: 0;
  }
  25% {
    scale: 1.25;
    opacity: 1;
  }
  50% {
    scale: 1;
    opacity: 1;
  }
  75% {
    scale: 1.25;
    opacity: 1;
  }
  to {
    scale: 0;
    opacity: 0;
  }
}

@keyframes invokeBack {
  from {
    opacity: 0;
    scale: 0;
  }
  20% {
    opacity: 1;
    scale: 1;
  }
  80% {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}

@keyframes invokeBackMix {
  from {
    opacity: 0;
    scale: 0;
  }
  20% {
    opacity: 0.4;
    scale: 1;
  }
  80% {
    opacity: 0.4;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}

.root {
  position: absolute;
  z-index: 2;
  inset: 0px;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: var(--big-radius);
    opacity: 0;
    scale: 0;

    animation: invokeBack 0.8s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0px;

    border-radius: var(--big-radius);
    background-color: var(--dark-400);
    opacity: 0;
    scale: 0;

    animation: invokeBackMix 0.8s ease-in-out;
  }

  &_skipped::before {
    background-color: var(--light-400);
  }

  &_added::before {
    background-color: var(--bisky-100);
  }

  &_dropped::before {
    background-color: var(--bisky-400);
  }

  &_watching::before {
    background-color: var(--blue);
  }

  &_completed::before {
    background-color: var(--green);
  }
}

.icon {
  animation: invoke 0.8s ease-in-out;
  scale: 0;
  opacity: 0;
  position: relative;
  z-index: 3;

  &_added {
    fill: var(--bisky-100);
  }

  &_skipped {
    fill: var(--light-400);
  }

  &_dropped {
    fill: var(--bisky-400);
  }

  &_watching {
    fill: var(--blue);
  }

  &_completed {
    fill: var(--green);
  }
}
