@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  margin: auto 0px;
  position: relative;
}

.main {
  align-items: center;
  border-radius: var(--radius-20);
  display: flex;
  gap: 40px;
  height: 500px;
  justify-content: center;
  overflow: hidden;
  padding: 64px;
  position: relative;
  width: 900px;
  @extend %invoke-scale;
}

.infoButton {
  left: 16px;
  position: absolute;
  top: 16px;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.starData {
  align-items: center;
  display: flex;
  gap: 12px;
}

.posterWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  @include text-style(20);
}

.poster {
  border-radius: var(--radius-20);
  height: 330px;
  width: 220px;
}

.background {
  height: 750px;
  position: absolute;
  width: 1400px;
  z-index: -1;
  @include effect(frame-blur);

  &::before {
    background-color: var(--black-60);
    content: '';
    inset: 0;
    position: absolute;
    z-index: 2;
  }
}

.scoreCount {
  align-items: center;
  background-color: var(--dark-460);
  border-radius: var(--radius-12);
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 48px;
  justify-content: center;
  width: 48px;
  @include effect(background-blur);
}

.scoreCountIcon {
  height: 16px;
  width: 16px;
}

.scoreCountLabel {
  @include text-style(12);
}

.scoreChange {
  align-items: center;
  background-color: var(--dark-240);
  border-radius: var(--radius-20);
  display: flex;
  gap: 12px;
  padding: 8px 16px;
  @include effect(background-blur);
}

.scoreText {
  @include text-style(32);
  @include score-color(color);
}

.rightIcon {
  height: 48px;
  width: 48px;
}

.goNext {
  width: 200px;
}

.badgeEstimate {
  @include estimate-color(background-color);
}

@include media-query(tablet, true) {
  .sectionLabel {
    display: none !important;
  }
}
