@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  background-color: var(--dark-240);
  border-radius: var(--radius-20);
  display: flex;
  height: 80px;
  inset: 20px 20px auto;
  justify-content: space-between;
  padding: 16px 20px;
  position: fixed;
  z-index: 10;
  @include effect(background-blur-shadow);
  @include transition(background-color);

  &:hover {
    background-color: var(--dark-200);
  }
}

.leftSide {
  align-items: center;
  display: flex;
  gap: 32px;
}

.logoWrapper {
  align-items: center;
  color: var(--bisky-100);
  display: flex;
  gap: 4px;
  @include transition(filter);

  &:hover {
    filter: brightness(1.1);
  }
}

.logo {
  height: 48px;
  width: 48px;
}

.logoText {
  @include text-style(40);
}

.rightSide {
  align-items: center;
  display: flex;
  gap: 24px;
}

.searchButton {
  align-items: center;
  background-color: var(--dark-100);
  border-radius: var(--radius-12);
  cursor: pointer;
  display: flex;
  gap: 32px;
  height: 40px;
  padding: 8px;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition((filter, scale), (250ms, 100ms));

  &:hover {
    filter: brightness(1.1);
  }
}

.searchLabel {
  align-items: center;
  display: flex;
  gap: 4px;
}

.searchText {
  color: var(--light-400);
}

.searchIcon {
  color: var(--light-400);
  height: 16px;
  width: 16px;
}

.hotKey {
  align-items: center;
  background-color: var(--dark-200);
  border-radius: var(--radius-8);
  color: var(--light-400);
  display: flex;
  height: 24px;
  padding: 0 4px;
}

@include media-query(tablet) {
  .root {
    display: none;
  }
}
