@use "@/theme/colors";
@use "@/theme/modification";

.facts {
  @extend .container;

  margin-top: 20px;

  &__block {
    @extend .block;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;

    display: flex;
    gap: 20px;

    &_image {
      transform: rotateY(180deg);
    }

    &_text {
      background-color: colors.$background;
      color: colors.$white;
      font-size: 24px;
      font-weight: 600;

      width: 100%;
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
    }
  }
}
