.root {
  max-width: calc(var(--HD) - 16px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.label {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 680px;

  animation: invokeAll 0.2s ease-in-out;
}

.newListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background-color: var(--dark-200);
  padding: 20px;
  border-radius: var(--big-radius);

  animation: invokeAll 0.2s ease-in-out;
}

.goNextOptions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.optionButton {
  width: 200px !important;

  justify-content: center;
}
