@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  border-radius: var(--radius-20);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;
  @extend %invoke-scale, %press;
}

.loading {
  height: 277px;
  width: 100%;
}

.profile {
  align-items: center;
  background-color: var(--dark-240);
  border-radius: var(--radius-20);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  @include effect(background-blur-shadow);
}

.avatar {
  border-radius: var(--radius-full);
  height: 120px;
  width: 120px;
  @include effect(back-shadow);
}

.username {
  max-width: 250px;
  text-align: center;
  word-break: break-all;
  @include text-style(32);
}

.background {
  height: 100%;
  left: 0;
  position: absolute !important;
  scale: 1.2;
  top: 0;
  width: 100%;
  z-index: -1;
  @include effect(frame-blur);

  &::before {
    background-color: var(--black-60);
    content: '';
    inset: 0;
    position: absolute;
    z-index: 2;
  }
}

@include media-query(tablet) {
  .root {
    padding: 12px;
    width: fit-content;
  }

  .profile {
    flex-direction: column;
    gap: 16px;
    padding: 8px;
  }

  .avatar {
    height: 80px;
    width: 80px;
  }

  .username {
    max-width: 80px;
    @include text-style(20);
  }

  .loading {
    height: 180px;
    width: 120px;
  }
}
