@use "@/theme/colors";
@use "@/theme/modification";

.screenshot {
  @extend .block;
  padding: 20px 0;

  &__swiper {
    width: calc(100% - 40px);
    padding: 0 20px;
    user-select: none;

    &__slide {
      max-width: 475px;
    }
  }

  &__img {
    border-radius: 20px;
    cursor: pointer;
  }
}
