@use "@shared/styles/reusable.scss" as *;

.root {
  max-width: calc(var(--HD) - 16px);
  width: 100%;
  height: 100%;

  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  height: 320px;
}

@media screen and (max-width: $fullHD) {
  .root {
    max-width: calc(var(--HD) - 16px);
  }
}
