@use "@/theme/colors.scss" as *;
@use "@/theme/extra.scss" as *;

.spinner {
  border: 3px solid transparent;
  border-radius: 50%;

  -webkit-animation: rotation 0.8s ease infinite;
  animation: rotation 0.8s ease infinite;

  &_lime {
    border-top-color: $lime;
    border-bottom-color: $lime;
  }

  &_gray {
    border-top-color: $gray;
    border-bottom-color: $gray;
  }

  &_red {
    border-top-color: $red;
    border-bottom-color: $red;
  }

  &_blue {
    border-top-color: $blue;
    border-bottom-color: $blue;
  }

  &_orange {
    border-top-color: $orange;
    border-bottom-color: $orange;
  }

  &_green {
    border-top-color: $green;
    border-bottom-color: $green;
  }

  &_bisky {
    border-top-color: $bisky-300;
    border-bottom-color: $bisky-300;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
