@use '@shared/styles/reusable.scss' as *;

.root {
  flex-shrink: 0;
  height: 180px;
  position: relative;
  width: 180px;
  @extend %invoke-scale, %no-select;
}

.circle {
  border-radius: var(--radius-full) !important;
  height: 100%;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  padding: 36px;
  width: 100%;
}

.sumCount {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
  @include text-style(40);
}

@include media-query(tablet) {
  .root {
    height: 120px;
    width: 120px;
  }

  .sumCount {
    @include text-style(24);
  }

  .circle {
    padding: 24px;
  }
}
