@use '@shared/styles/reusable.scss' as *;

.icon {
  fill: inherit;
}

.children {
  color: inherit;
}

.root {
  align-items: center;
  background-color: var(--dark-240);
  border: 0;
  color: var(--light-100);
  cursor: pointer;
  display: flex;
  fill: var(--bisky-100);
  justify-content: center;
  @extend %invoke-scale, %press, %no-select;
  @include effect(back-shadow);
  @include transition((filter, opacity, scale), (250ms, 250ms, 100ms));

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;

    &:hover {
      filter: none;
    }
  }

  &_big {
    border-radius: var(--radius-20);
    height: 100px;
    width: 100px;

    .icon {
      height: 60px;
      width: 60px;
    }

    .children {
      @include text-style(40);
    }
  }

  &_small {
    border-radius: var(--radius-12);
    height: 48px;
    width: 48px;

    .icon {
      height: 32px;
      width: 32px;
    }

    .children {
      @include text-style(24);
    }
  }
}
