@use '@shared/styles/reusable.scss' as *;

.root {
  background-color: var(--dark-300);
  border-radius: var(--radius-20);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  width: 100%;
  @extend %invoke-scale;
}

.label {
  color: var(--light-100);
  cursor: pointer;
  @include text-style(24);
  @extend %press;
  @include transition((color, scale), (250ms, 100ms));

  &:hover {
    color: var(--bisky-100);
  }
}

.main {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.badgeWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button {
  width: 100%;
}

.badge {
  background-color: var(--dark-200);
  @include estimate-color(color);
  @include estimate-color(fill);
}

.loading {
  height: 260px;
  width: 100%;
}

@include media-query(tablet, true) {
  .badgeWrapper_mobile {
    display: none;
  }
}

@include media-query(tablet) {
  .badgeWrapper {
    width: 100%;

    &_desktop {
      display: none;
    }
  }

  .loading {
    height: 220px;
  }
}
