{
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-scss", "stylelint-order", "stylelint-prettier"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "no-descending-specificity": true,
    "selector-class-pattern": null,
    "prettier/prettier": true
  }
}
