{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "no-descending-specificity": true,
    "selector-class-pattern": null
  }
}
