@import "@shared/styles/reusable.scss";

.avatar {
  box-sizing: border-box;
  width: 40px !important;
  height: 40px !important;

  user-select: none;
  cursor: pointer;
  border-radius: var(--full-radius);
  border: 2px solid transparent;

  @include transition(border-color);

  &:hover {
    border-color: var(--bisky-100);
  }

  &:active {
    border-color: var(--bisky-200);
  }
}

.avatarImage {
  object-fit: cover;
  width: 40px !important;
  height: 40px !important;
}

.menu {
  right: 0px;

  padding: 4px;
  display: flex;
  flex-direction: column;

  border: 4px solid var(--dark-300);
  background-color: var(--dark-200);
  border-radius: var(--small-radius);
}

.menuRow {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

  border-radius: var(--small-radius);
  cursor: pointer;

  @include transition(background-color);

  &:hover {
    background-color: var(--dark-100);
  }

  &:active {
    background-color: var(--dark-300);
  }

  &_noHover {
    cursor: unset;

    &:hover {
      background-color: unset;
    }

    &:active {
      background-color: unset;
    }
  }
}

.divider {
  width: calc(100% - 24px);
  height: 1px;
  margin: 4px 12px;

  opacity: 0.8;
  background-color: var(--dark-400);
}

.icon {
  width: 20px;
  height: 20px;

  &_exit {
    fill: var(--red);
  }
}

.exitText {
  color: var(--red);
}
