@use '@shared/styles/reusable.scss' as *;

.root {
  background-color: var(--dark-200);
  border-radius: var(--radius-20);
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  width: 100%;
}

.name {
  @include text-style(32);
}

.description {
  @include text-style(20);
}

@include media-query(tablet) {
  .name {
    display: none;
  }

  .root_mobile {
    display: none;
  }
}
