@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  background-color: var(--dark-400);
  border: 2px solid transparent;
  border-color: var(--red);
  border-radius: var(--radius-20);
  display: flex;
  gap: 8px;
  padding: 20px;
  width: 100%;
  @include effect(back-shadow);
  @extend %no-select;
}

.message {
  width: 100%;
}

.button {
  flex-shrink: 0;
}

.icon {
  fill: var(--red);
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

@include media-query(tablet, true) {
  .root {
    width: 400px;
  }
}
