@use "@shared/styles/reusable.scss" as *;

.root {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.sliderWrapper {
  position: relative;

  border-radius: var(--big-radius);
  cursor: grab;
}

.arrowWrapper {
  position: absolute;
  inset: 0px -44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 36px;
  height: 36px;

  cursor: pointer;
  user-select: none;

  @include transition(opacity);

  &:first-child {
    rotate: 180deg;
  }

  &_disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.image {
  cursor: pointer;
  border-radius: var(--big-radius);
  border: 6px solid transparent;
  object-fit: cover;

  @include transition(border-color);

  &:hover {
    border-color: var(--bisky-300);
  }
}
