@use 'sass:map';

@mixin define-font-size($sizes) {
  $line-heights: (
    12: 14px,
    16: 18px,
    20: 23px,
    24: 28px,
    32: 37px,
    40: 51px,
  );

  @each $size in $sizes {
    .size_#{$size} {
      font-size: #{$size}px;
      line-height: map.get($line-heights, $size);
    }
  }
}
