@keyframes shine {
  from {
    background-color: #251928;
  }
  50% {
    background-color: #2b1f2e;
  }
  to {
    background-color: #251928;
  }
}

.root {
  animation: 1s shine linear infinite;
  border-radius: var(--big-radius);
}
