@use "@/01-shared/themes/colors.scss" as *;
@use "@/01-shared/themes/extra.scss" as *;

.randomFact {
  @extend .container;

  display: flex;
  align-items: center;
  gap: 20px;

  padding: 12px 20px 12px 20px;
  border-radius: 20px;

  background-color: $bisky-dark-200;

  .factInfo {
    font-size: 20px;
  }
}
