@use "@/theme/colors.scss" as *;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  margin-bottom: 12px;

  &__controls {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    &_left {
      transform: scale(-1, 1);
    }

    &_right {
    }
  }
}

.carousel {
  &__item {
    width: fit-content !important;
  }
}

.fullImage {
  position: absolute !important;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  height: 100vh;

  backdrop-filter: saturate(180%) blur(10px);
}
