@use '@shared/styles/reusable.scss' as *;

.input {
  background-color: transparent;
  border: 0;
  border-radius: var(--radius-12);
  color: var(--light-100);
  font-size: 16px;
  line-height: 18px;
  outline: 1px solid transparent;
  padding: 8px;
  width: 100%;
  @include transition(outline);

  &::placeholder {
    color: var(--light-400);
  }

  &:focus {
    outline-color: var(--bisky-100);
  }
}

.icon {
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 18px;
}

.root {
  background-color: var(--dark-100);
  border-radius: var(--radius-12);
  position: relative;
  @extend %invoke, %no-select;
  @include effect(back-shadow);

  &:has(.icon) .input {
    padding: 8px 30px 8px 8px;
  }

  &:has(.input:disabled) {
    background-color: var(--gray);

    .icon {
      cursor: default;
      fill: var(--light-400);
    }
  }
}
