@import "@shared/styles/reusable.scss";

.root {
  position: relative;
  cursor: grab;
}

.arrowWrapper {
  position: absolute;
  inset: 0px -44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 36px;
  height: 36px;

  cursor: pointer;
  user-select: none;

  @include transition(opacity);

  &:first-child {
    rotate: 180deg;
  }

  &_disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.catalogSlide {
  width: 344px;
  height: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  cursor: pointer;
  border-radius: var(--big-radius);
  background-color: var(--bisky-400);
}

.catalogIcon {
  width: 64px;
  height: 64px;

  rotate: (180deg);
}
