@use "@/01-shared/themes/colors.scss" as *;

.iconButton {
  border: none;
  border-radius: 4px;
  padding: 8px;

  cursor: pointer;
  transition: 0.2s;

  &:active {
    transform: scale(0.9);
    transition-duration: 0.2s;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    opacity: 0.4;
  }

  &_filled {
    background-color: $bisky-300;
    color: $bisky-light-100;

    svg {
      fill: $bisky-light-100;
    }

    &:hover {
      background-color: $bisky-200;
    }
  }

  &_subtle {
    background-color: transparent;
    color: $bisky-light-100;

    svg {
      fill: $bisky-light-100;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
