@use "@/theme/colors.scss" as *;

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border: none;
  border-radius: 10px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  &::placeholder {
    color: $bisky-light-400;
  }

  &:disabled {
    cursor: default;
    pointer-events: auto;

    opacity: 0.4;
  }

  &_light {
    background-color: $bisky-light-100;
    color: $bisky-dark-400;
  }

  &_dark {
    background-color: $bisky-dark-100;
    color: $bisky-light-100;
  }
}
