@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rowLabel {
  width: 300px;
  height: 32px;
}

.rowSlider {
  display: flex;
  gap: 24px;
}
