@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &_flexShrink {
    flex-shrink: 0;
  }

  &_big {
    gap: 12px;
  }

  &_small {
    gap: 8px;
  }
}

.animeCards {
  display: flex;
  width: 3000px;

  &_big {
    gap: 24px;
  }

  &_small {
    gap: 8px;
  }
}
