@use "@/01-shared/themes/colors.scss" as *;

.divider {
  width: 100%;

  margin: 0 auto;
  border-top: 1px solid transparent;

  &__label {
    display: flex;
    align-items: center;
    font-size: 16px;

    &::before {
      content: "";
      flex: 1 1;
      height: 1px;
      border-top: 1px solid $bisky-light-400;
      margin-right: 10px;
    }

    &::after {
      content: "";
      flex: 1 1;
      height: 1px;
      border-top: 1px solid $bisky-light-400;
      margin-left: 10px;
    }
  }

  &_gray {
    border-color: $bisky-light-400;
  }

  &_bisky {
    border-color: $bisky-dark-200;
  }
}
