@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  padding: 16px 20px;
  width: 300px;
  height: 160px;

  border-radius: var(--small-radius);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--dark-300);
    opacity: 0.6;
  }
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.backgroundPosters {
  display: flex;
  position: absolute;
  left: -60px;
  top: -24px;
  z-index: -2;
  filter: blur(1px);
}

.poster {
  width: 126px;
  height: 200px;
  position: relative;

  transform-origin: center;
  transform: rotate(12deg);

  box-shadow: 0px 0px 12px var(--dark-440);

  @for $i from 0 through 3 {
    &:nth-child(#{$i + 1}) {
      left: -20px * $i;
    }
  }
}

.posterImage {
  object-fit: cover;
}
