@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  width: 300px;
  height: 200px;

  border-radius: var(--small-radius);
  overflow: hidden;
  border: 2px solid transparent;

  @include transition(border-color);

  &:hover {
    border-color: var(--bisky-400);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--dark-300);
    opacity: 0.6;
  }
}

.label {
  line-height: normal !important;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: normal !important;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundPosters {
  display: flex;
  position: absolute;
  left: -60px;
  top: -24px;
  z-index: -2;
  filter: blur(1px);
}

.poster {
  width: 126px;
  height: 240px;
  position: relative;

  transform-origin: center;
  transform: rotate(12deg);

  box-shadow: 0px 0px 12px var(--dark-440);

  @for $i from 0 through 3 {
    &:nth-child(#{$i + 1}) {
      left: -20px * $i;
    }
  }
}

.posterImage {
  object-fit: cover;
}
