@use "@shared/styles/reusable.scss" as *;

.root {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: column;
}

.main {
  max-width: calc(var(--fullHD) - 104px);
  width: 100%;
}

@media screen and (max-width: $fullHD) {
  .main {
    max-width: calc(var(--HD) - 16px);
  }
}
