@use "@/theme/colors";
@use "@/theme/modification";

.genres {
  @extend .container;
  @extend .block;

  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;

  &__allGenres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin-top: 30px;
    padding: 0 20px;
  }

  &__block {
    position: relative;
    margin-top: 20px;
  }
}

@media screen and (max-width: modification.$mobile) {
  .genres {
    &__allGenres {
      gap: 4px;

      margin-top: 20px;
      padding: 0 20px;

      &__button {
        font-size: 12px;
        padding: 12px 20px;
      }
    }
  }
}
