.background {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  width: 100%;
  height: 420px;
  filter: blur(8px) brightness(0.4);

  &__image {
    width: 100% !important;
    height: 420px !important;
  }
}

.head {
  display: flex;
  align-items: center;
  gap: 20px;

  height: 420px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
