@use "@/theme/colors" as *;
@use "@/theme/extra" as *;

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  width: 380px;
  padding: 24px;
  border-radius: 20px;

  background-color: $bisky-dark-100;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    &__back {
      padding: 0;

      svg {
        fill: $bisky-100;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;

      color: $bisky-light-100;

      margin: 0 auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;

    &__input {
      animation: fadeInDown 0.3s ease-in-out 0s;
    }

    // &__input:nth-child(3) {
    //   animation: fadeInDown 0.5s ease-in-out 0.2s;
    // }

    &__button {
      padding: 0;
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
