@use "@shared/styles/reusable.scss" as *;

.root {
  box-shadow: 0px 0px 60px 12px var(--dark-460);
  z-index: 1000;
  animation: invokeHint 0.2s ease-in-out;

  &_closing {
    animation: closeHint 0.2s ease-in-out;
    opacity: 0;
  }
}

.text {
  background-color: var(--dark-100);
  padding: 4px 8px;
  border-radius: var(--small-radius);
}
