@keyframes loading {
  from {
    filter: drop-shadow(0px 0px 20px var(--bisky-140));
    opacity: 0.8;
  }
  50% {
    filter: drop-shadow(0px 0px 20px var(--bisky-100));
    opacity: 1;
    scale: 1.02;
  }
  to {
    filter: drop-shadow(0px 0px 20px var(--bisky-140));
    opacity: 0.8;
  }
}

@keyframes error {
  from {
    fill: var(--red);
    transform: translateX(8px);
  }
  25% {
    fill: var(--red);
    transform: translateX(-8px);
  }
  50% {
    fill: var(--red);
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  to {
    transform: translateX(0px);
  }
}
