@keyframes invokeModal {
  from {
    scale: 0.85;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes closeModal {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 0.85;
    opacity: 0;
  }
}

@keyframes invokeBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes closeBackground {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
