$minimum-radius: 8px;
$small-radius: 12px;
$big-radius: 20px;
$full-radius: 100%;

.borders {
  --minimum-radius: #{$minimum-radius};
  --small-radius: #{$small-radius};
  --big-radius: #{$big-radius};
  --full-radius: #{$full-radius};
}
