$radius-8: 8px;
$radius-12: 12px;
$radius-20: 20px;
$radius-full: 100%;

%border-radiuses {
  --radius-8: #{$radius-8};
  --radius-12: #{$radius-12};
  --radius-20: #{$radius-20};
  --radius-full: #{$radius-full};
}
