$bisky-100: #dd5480;
$bisky-200: #be3d73;
$bisky-300: #801a59;
$bisky-400: #731750;
$dark-100: #472f4d;
$dark-200: #322136;
$dark-240: #32213666;
$dark-300: #231726;
$dark-400: #170e19;
$dark-460: #170d1999;
$light-100: #f8f8f8;
$light-200: #eef0eb;
$light-300: #e0e1dd;
$light-400: #a4a4a4;
$blue: #4f91e8;
$green: #4a884d;
$gray: #777;
$orange: #ef8d50;
$lime: #3bb33b;
$red: #f00;
$black-25: #00000040;
$black-70: #000000b3;

%colors {
  --bisky-100: #{$bisky-100};
  --bisky-200: #{$bisky-200};
  --bisky-300: #{$bisky-300};
  --bisky-400: #{$bisky-400};
  --dark-100: #{$dark-100};
  --dark-200: #{$dark-200};
  --dark-240: #{$dark-240};
  --dark-300: #{$dark-300};
  --dark-400: #{$dark-400};
  --dark-460: #{$dark-460};
  --light-100: #{$light-100};
  --light-200: #{$light-200};
  --light-300: #{$light-300};
  --light-400: #{$light-400};
  --blue: #{$blue};
  --green: #{$green};
  --gray: #{$gray};
  --orange: #{$orange};
  --lime: #{$lime};
  --red: #{$red};
  --black-25: #{$black-25};
  --black-70: #{$black-70};
}
