@use '@shared/styles/reusable.scss' as *;

.label {
  @include text-style(24);
}

.error {
  color: var(--red);
}

.logo {
  height: 64px;
  width: 64px;

  &_loading {
    animation: loading ease-in-out infinite 1s;
  }

  &_error {
    animation: error ease-in-out 0.4s;
  }
}

.input {
  width: 100%;
}

.button {
  width: 100%;
}

.reset {
  border-bottom: 1px solid var(--bisky-100);
  color: var(--bisky-100);
  @include transition(filter);

  &:hover {
    filter: brightness(1.2);
  }
}

.timeLeft {
  opacity: 0.6;
}
