@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  align-items: center;
  gap: 4px;
  @include effect(back-shadow);
  @extend %press, %no-select;

  &_small {
    .icon {
      width: 16px;
      height: 16px;
    }

    .label {
      @include text-style(12);
    }
  }

  &_big {
    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.icon {
  fill: var(--bisky-100);
}

.label {
  color: var(--bisky-100);
}
