@use "@/01-shared/themes/colors.scss" as *;

.collapse {
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    transition: 0.3s;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &_expanded {
      display: block;
    }
  }

  &__more {
    padding: 12px 0px;
    border: none;

    cursor: pointer;
    transition: 0.2s;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    background-color: transparent;
    color: $bisky-light-400;
  }
}
