@use "@/theme/colors";
@use "@/theme/modification";

.addInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__info {
    display: flex;
    align-items: center;
    gap: 5px;

    &__video {
      background-color: colors.$bisky-dark;
      border-radius: 10px;
      padding: 4px 8px;

      color: colors.$font-white;
      transition: 0.2s;

      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        background-color: colors.$bisky;
      }
    }

    &__genres {
      align-items: flex-start;

      &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        max-width: 400px;
      }

      &_link {
        background-color: colors.$bisky-dark;
        border-radius: 10px;
        padding: 4px 8px;
        transition: 0.2s;

        &:hover {
          background-color: colors.$bisky;
        }

        &_text {
          color: colors.$font-white;
          font-size: 16px;
        }
      }
    }

    &__label {
      opacity: 0.7;
      font-size: 20px;
    }

    &__text {
      font-size: 20px;
    }

    &__status {
      text-transform: capitalize;
      font-size: 20px;
      border-radius: 10px;
      padding: 2px 6px;
      color: colors.$font-white;
      transition: 0.2s;
    }

    &__link {
      &:not(:last-child) > .addInfo__info__text {
        &::after {
          content: ",";
        }
      }

      .addInfo__info__text {
        border-bottom: 2px solid colors.$transparent;
        transition: 0.2s;
        position: relative;
        top: 2px;
      }

      &:hover .addInfo__info__text {
        color: colors.$bisky;
        border-bottom: 2px solid colors.$bisky;
      }

      &:hover .addInfo__info__status {
        background-color: colors.$bisky;
      }
    }

    &__nextEpisode {
      &::after {
        content: attr(data-content);
        border-radius: 10px;
        padding: 2px 6px;
        color: colors.$font-white;
        background-color: colors.$bisky-dark;
        font-size: 20px;

        opacity: 0;
        transition: 0.2s;
        visibility: hidden;
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__br {
    background-color: colors.$black;
    border-radius: 100px;
    opacity: 0.2;
    height: 2px;
    margin: 8px;
    width: 30%;
  }
}
