@use '@shared/styles/reusable.scss' as *;

.animes {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.barMargin {
  flex-shrink: 0;
  height: 120px;
  width: 100%;
}

@include media-query(tablet, true) {
  .barMargin {
    display: none;
  }

  .sectionLabel {
    display: none !important;
  }
}

@include media-query(tablet) {
  .animes {
    gap: 8px;
  }
}
