@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  background-color: var(--dark-240);
  border-radius: var(--radius-20);
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  width: 200px;
  @extend %invoke-scale, %press, %no-select;
  @include effect(background-blur-shadow);
  @include transition((background-color, scale), (250ms, 100ms));

  &:hover {
    background-color: var(--dark-200);
  }
}

.icon {
  height: 36px;
  width: 36px;
}

.text {
  @include text-style(20);
}

@include media-query(tablet) {
  .root {
    border-radius: var(--radius-12);
    height: 190px;
    width: 120px;
  }

  .icon {
    height: 24px;
    width: 24px;
  }

  .text {
    @include text-style(12);
  }
}
