@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button {
  cursor: pointer;
  opacity: 0.6;
  width: fit-content;
  @include text-style(20);
  @extend %press, %no-select;
}

.modalText {
  max-width: 800px;
}
