@use "@/01-shared/themes/colors.scss" as *;
@use "@/01-shared/themes/extra.scss" as *;

.seasonCard {
  &__imageContainer {
    position: absolute;
    opacity: 0;
    transition: 0.2s;

    &_current {
      opacity: 1;
    }
  }

  &__image {
    border-radius: 20px;
    filter: brightness(0.4);
  }
}
