@use 'sass:string';
@use '@shared/styles/reusable.scss' as *;

@keyframes shine {
  0% {
    background-color: #251928;
  }

  50% {
    background-color: #2b1f2e;
  }

  100% {
    background-color: #251928;
  }
}

%skeleton-base {
  animation: 1s shine linear infinite;
  border-radius: var(--radius-20);
  display: flex;
}

.none {
  @extend %skeleton-base;

  &_flexShrink {
    flex-shrink: 0;
  }
}
