@use '@shared/styles/reusable.scss' as *;

@keyframes shine {
  0% {
    background-color: #251928;
  }

  50% {
    background-color: #2b1f2e;
  }

  100% {
    background-color: #251928;
  }
}

.root {
  animation: 1s shine linear infinite;
  border-radius: var(--radius-20);
  flex-shrink: 0;

  &_season {
    height: 380px;
    width: 1080px;
  }

  &_animeCard {
    height: 320px;
    width: 200px;
  }

  &_label {
    height: 37px;
    width: 400px;
  }
}

@include media-query(tablet) {
  .root {
    &_season {
      height: 180px;
      width: 100%;
    }

    &_animeCard {
      height: 190px;
      margin-bottom: 14px;
      width: 120px;
    }

    &_label {
      height: 23px;
      width: 100px;
    }
  }
}
