@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.input {
  margin-top: 1px;
  width: calc(100% - 2px);
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: center;
  width: 100%;
  @extend %invoke-scale;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  border-radius: var(--radius-20);
  object-fit: cover;
}

.mainText {
  text-align: center;
  @include text-style(20);
}

.orText {
  color: var(--light-400);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.result {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.separator {
  background-color: var(--dark-100);
  height: 1px;
  opacity: 0.2;
  width: calc(100% - 48px);
}

.animes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.avatar {
  display: none;
}

@include media-query(tablet) {
  .avatar_big {
    display: none !important;
  }

  .buttons {
    width: 100%;
  }
}

@include media-query(tablet, true) {
  .root {
    height: 60vh;
    width: 1044px;
  }

  .info,
  .main,
  .result {
    border-radius: var(--radius-12);
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
      background-color: var(--dark-100);
    }
  }

  .avatar_small {
    display: none !important;
  }

  .users {
    flex-direction: row;
  }

  .avatarSkeleton {
    flex: 1;
  }
}
