@import "@shared/styles/reusable.scss";

.root {
  max-width: var(--lg);
  width: 100%;
  display: flex;
  gap: 24px;

  position: relative;
}

.animesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 712px;
}
