@use "@shared/styles/reusable.scss" as *;

.root {
  max-width: var(--fullHD);
  width: 100%;

  display: flex;
  gap: 24px;
}

.animesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 100%;
}

.filterBar {
  width: 344px;
  height: 600px;
}

@media screen and (max-width: $fullHD) {
  .root {
    max-width: calc(var(--HD) - 16px);
  }
}
