$bisky-100: #dd5480;
$bisky-200: #be3d73;
$bisky-300: #801a59;
$bisky-400: #731750;

$bisky-dark-100: #472f4d;
$bisky-dark-200: #322136;
$bisky-dark-300: #231726;
$bisky-dark-400: #170e19;

$bisky-light-100: #f8f8f8;
$bisky-light-200: #eef0eb;
$bisky-light-300: #e0e1dd;
$bisky-light-400: #a4a4a4;

$lime: #3bb33b;
$gray: #777777;
$red: #ff0000;
$blue: #4f91e8;
$orange: #ef8d50;
$green: #4a884d;

$transparent-100: #00000020;
