@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  @extend %invoke-scale;
}

.info {
  height: 397px;
  width: 100%;
}

.screenshotWrapper {
  border-radius: var(--radius-20);
  display: flex;
  gap: 24px;
  overflow: hidden;
  width: 100%;
}

.screenshot {
  height: 220px;
  width: 400px;
}

.watchNow {
  display: none;
  height: 34px;
  width: 100%;
}

@include media-query(tablet) {
  .info {
    height: 255px;
  }

  .watchNow {
    display: flex;
  }

  .screenshotWrapper {
    overflow: visible;
  }

  .screenshot {
    height: 165px;
    width: 300px;
  }
}
