@use "../../themes/colors";

.footer {
  background-color: colors.$background-up;
  font-weight: 300;
  padding: 29px 0;
  display: flex;
  justify-content: center;
  color: colors.$white;
  cursor: default;
  position: absolute;
  bottom: 0;
  width: 100%;
}
