@use "../colors.scss";

.header {
  height: 80px;
  background-color: colors.$background-header;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-left {
    display: flex;
    gap: 20px;
    align-items: center;

    &-name {
      font-size: 32px;
      font-weight: 600;
      display: flex;
      cursor: pointer;
      color: colors.$bisky;
      margin-right: 30px;
      padding: 21px 0;
    }

    &-link {
      &.active {
        color: colors.$white;
        border-bottom: 5px solid colors.$button-red;
      }

      width: 100px;
      height: 100%;
      font-weight: 500;
      font-size: 20px;
      color: colors.$gray;
      text-align: center;
      padding: 25px 0;
      transition: 0.2s;
      border-bottom: 5px solid colors.$transparent;
      cursor: pointer;

      &:hover {
        color: colors.$white;
        border-bottom: 5px solid colors.$button-red;
      }
    }
  }
}
