@use "../../themes/colors";

.select {
  width: 230px;
  user-select: none;

  &-box {
    border-radius: 10px;
    background-color: colors.$background-up;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.2s;

    display: flex;
    justify-content: space-between;

    &-title {
      font-size: 18px;
      color: colors.$white;
    }

    &-icon {
      color: colors.$white;
      transition: 0.2s;

      &::before {
        content: "\25BC";
      }
    }

    &.active {
      background-color: colors.$background-header;
      border-radius: 10px 10px 0px 0px;

      .select-box-icon {
        transform-origin: center;
        transform: rotate(180deg);
      }
    }
  }

  &-options {
    border-radius: 10px;
    background-color: colors.$background-up;
    transition: 0.2s;

    display: flex;
    flex-direction: column;

    &.open {
      border-radius: 0px 0px 10px 10px;

      .select-options-element {
        opacity: 1;
        padding: 10px;
        height: 20px;
      }
    }

    &-element {
      transition: 0.2s;
      opacity: 0;
      color: colors.$white;
      padding: 0;
      cursor: pointer;
      border-radius: 10px;
      height: 0px;

      &:hover {
        background-color: colors.$input-light;
      }

      &.delete {
        color: colors.$red;
      }
    }
  }
}

.title {
  background-color: colors.$background-light;
  border-radius: 20px;
  padding: 20px;

  &-name {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: colors.$main-font-transparent;
    font-size: 28px;
    align-items: center;
    font-weight: 600;
    margin-bottom: 20px;

    div {
      font-size: 32px;
      color: colors.$main-font;
    }
  }

  &-justify {
    display: flex;
    justify-content: space-between;
  }

  &-main {
    display: flex;
    gap: 30px;

    img {
      width: 300px;
      height: 420px;
      border-radius: 20px;
    }

    &-block {
      display: flex;
      gap: 10px;
      flex-direction: column;
      margin-top: 10px;

      &-info {
        display: flex;
        gap: 5px;
        align-items: center;
        max-height: 20px;

        &-name {
          color: colors.$main-font-transparent;
        }

        &-status {
          padding: 3px 6px;
          border-radius: 5px;
          color: colors.$white;
          cursor: pointer;

          &.released {
            background-color: colors.$green;
          }

          &.ongoing {
            background-color: colors.$blue;
          }

          &.announced {
            background-color: colors.$red;
          }
        }

        &.genre {
          max-width: 400px;
          max-height: unset;
          align-items: flex-start;

          .genre-text {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            div {
              padding: 2px 5px;
              border-radius: 5px;
              border: 1px solid colors.$main-font;
              cursor: pointer;
              transition: 0.2s;

              &:hover {
                background-color: colors.$gray;
              }
            }
          }
        }
      }
    }
  }

  &-right {
    &-rating {
      background-color: colors.$background;
      border-radius: 10px;
      padding: 10px;

      margin-bottom: 20px;

      &-block {
        margin-top: 10px;
        display: flex;
        gap: 5px;

        button {
          cursor: pointer;
          border-radius: 5px;
          border: none;
          padding: 2px 6px;
          font-size: 16px;

          &.b1,
          &.b2,
          &.b3,
          &.b4 {
            color: colors.$white;
            background-color: colors.$red;
          }

          &.b5,
          &.b6,
          &.b7 {
            color: colors.$main-font;
            background-color: colors.$yellow;
          }

          &.b8,
          &.b9 {
            color: colors.$white;
            background-color: colors.$green;
          }

          &.b10 {
            color: colors.$white;
            background-color: colors.$bisky;
          }
        }
      }

      &-headline {
        color: colors.$white;
        font-size: 30px;
        font-weight: 600;
      }

      &-score {
        font-size: 32px;

        &.green {
          color: colors.$green-light;
        }

        &.yellow {
          color: colors.$yellow;
        }

        &.orange {
          color: colors.$red-light;
        }

        &.bisky {
          color: colors.$bisky;
        }
      }

      &-count {
        font-size: 16px;
        color: colors.$white;
        opacity: 0.5;
      }

      &-rait {
        cursor: pointer;
        padding: 4px 6px;
        background-color: colors.$gray;
        border: none;
        font-size: 14px;
        border-radius: 10px;

        &:disabled {
          background-color: colors.$button-disabled;
          cursor: not-allowed;
        }
      }
    }
  }

  &-media {
    display: flex;
    justify-content: space-between;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-headline {
        font-size: 24px;
        font-weight: 600;
      }

      &-row {
        display: flex;
        gap: 10px;
        justify-content: space-between;

        img {
          width: 300px;
          height: 170px;
        }
      }
    }
  }

  &-player {
    padding: 20px;
    background-color: colors.$background-up;
    border-radius: 10px;
    height: 600px;
  }
}
