@use "../../themes/colors";

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  &-name {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: colors.$main-font-transparent;
    font-size: 28px;
    align-items: center;
    font-weight: 600;

    div {
      font-size: 32px;
    }
  }

  &-justify {
    display: flex;
    justify-content: space-between;
  }

  &-main {
    display: flex;
    gap: 50px;

    img {
      width: 250px;
      height: 350px;
      border-radius: 20px;
    }

    &-block {
      display: flex;
      gap: 10px;
      flex-direction: column;

      &-info {
        display: flex;
        gap: 5px;
        align-items: center;
        max-height: 20px;

        &-name {
          color: colors.$main-font-transparent;
        }

        &-status {
          padding: 3px 6px;
          border-radius: 5px;
          color: colors.$white;
          cursor: pointer;

          &.released {
            background-color: colors.$green;
          }

          &.airing {
            background-color: colors.$blue;
          }

          &.announced {
            background-color: colors.$red;
          }
        }

        &.genre {
          max-width: 400px;
          max-height: unset;
          align-items: flex-start;

          .genre-text {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            div {
              padding: 2px 5px;
              border-radius: 5px;
              border: 1px solid colors.$main-font;
              cursor: pointer;
              transition: 0.2s;

              &:hover {
                border: 1px solid colors.$transparent;
                background-color: colors.$gray;
              }
            }
          }
        }
      }
    }
  }

  &-right {
    &-rating {
      background-color: colors.$background;
      border-radius: 10px;
      padding: 10px;

      &-headline {
        color: colors.$white;
        font-size: 30px;
        font-weight: 600;
      }

      &-score {
        font-size: 32px;

        &.green {
          color: colors.$green-light;
        }

        &.yellow {
          color: colors.$yellow;
        }

        &.orange {
          color: colors.$red-light;
        }

        &.bisky {
          color: colors.$bisky;
        }
      }

      &-count {
        font-size: 16px;
        color: colors.$white;
        opacity: 0.5;
      }

      &-rait {
        cursor: pointer;
        padding: 4px 6px;
        background-color: colors.$gray;
        border: none;
        margin-top: 5px;
        font-size: 14px;
        border-radius: 10px;
      }
    }

    select {
      margin-top: 10px;
      background-color: colors.$background;
      color: colors.$white;
      font-size: 18px;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      min-width: 250px;

      option {
        color: colors.$white;
        font-size: 18px;
        padding: 5px;

        &.delete {
          color: colors.$red;
        }
      }
    }
  }

  &-media {
    display: flex;
    justify-content: space-between;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-headline {
        font-size: 24px;
        font-weight: 600;
      }

      &-row {
        display: flex;
        gap: 10px;
        justify-content: space-between;

        img {
          width: 300px;
          height: 170px;
        }
      }
    }
  }
}
