@use '@shared/styles/reusable.scss' as *;

.season {
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.animeCards {
  display: flex;
  gap: 24px;
  width: 3000px;
}

@include media-query(tablet) {
  .animeCards {
    gap: 8px;
  }

  .row {
    gap: 8px;
  }
}
