.root {
  &_completed {
    background-color: var(--green) !important;
  }

  &_added {
    background-color: var(--bisky-200) !important;
  }

  &_watching {
    background-color: var(--blue) !important;
  }

  &_dropped {
    background-color: var(--bisky-400) !important;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  cursor: pointer;
}

.menu {
  top: 44px;
  right: 10px;

  border-radius: var(--small-radius);
}
