@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 100%;
  justify-content: center;
}

.rightSide {
  width: 800px !important;
}

.panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bigButton {
  height: 100px;
  width: 100px;
}

.poster {
  height: 330px;
  width: 220px;
}

.buttons {
  align-items: center;
  display: flex;
  gap: 24px;
  padding: 0 12px;
}

.smallButton {
  height: 48px;
  width: 48px;
}

.watchNow {
  height: 34px;
  width: 100%;
}

.listButtonRow {
  padding: 0px 12px;
  width: 100%;
}

@include media-query(hd) {
  .rightSide {
    width: 650px !important;
  }
}

@include media-query(tablet, true) {
  .sectionLabel {
    display: none !important;
  }

  .smallButton_mobile {
    display: none;
  }
}

@include media-query(tablet) {
  .root {
    width: 100%;
  }

  .panel {
    width: 100%;
  }

  .buttons {
    justify-content: space-between;
    width: 100%;
  }

  .rightSide {
    display: none !important;
  }

  .bigButton_desktop {
    display: none;
  }

  .watchNow {
    display: none;
  }

  .poster {
    height: 514px;
    width: 100%;
  }
}
