@import "@shared/styles/reusable.scss";

.loading {
  width: 200px;
  height: 57px;
}

.root {
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  cursor: pointer;
}
