@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.background {
  z-index: -1;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  overflow: hidden;
}

.backgroundImage {
  width: 100% !important;

  scale: (1.05);
  filter: brightness(0.4) blur(4px);
  object-fit: cover;
}

.poster {
  max-width: 200px;
  width: 100% !important;

  border-radius: var(--big-radius);
}

.posterImage {
  object-fit: cover;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.additionalRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
}

.rating {
  opacity: 0.8;
  color: var(--dark-400);
  background-color: var(--light-100);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.titleInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.status {
  &_anons {
    color: var(--orange);
  }

  &_ongoing {
    color: var(--blue);
  }

  &_released {
    color: var(--green);
  }
}

.button {
  background-color: transparent !important  ;
  opacity: 0.8;

  &:hover {
    background-color: transparent !important;
  }

  &:active {
    background-color: transparent !important;
  }
}
