.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.subInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoText {
  max-width: 400px;
}

.icon {
  width: 24px;
  height: 24px;
}

.status {
  &_anons {
    color: var(--orange);
  }

  &_ongoing {
    color: var(--blue);
  }

  &_released {
    color: var(--green);
  }
}

.miniInfoButton {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.rating {
  opacity: 0.8;
  color: var(--dark-400);
  background-color: var(--light-100);
}
