@use "@/theme/colors.scss" as *;

.alert {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4px;

  max-width: 400px;

  padding: 16px 24px;
  border-radius: 16px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }

    &__close {
    }
  }

  &__message {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  &_red {
    background-color: $red;
  }

  &_green {
    background-color: $green;
  }

  &_blue {
    background-color: $blue;
  }

  &_orange {
    background-color: $orange;
  }
}
