@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 500px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 450px;

  &_left {
    border-radius: var(--radius-20) 0 0 var(--radius-20);
  }

  &_right {
    border-radius: 0 var(--radius-20) var(--radius-20) 0;
  }
}

.infoButton {
  position: absolute;
  top: 16px;

  &_left {
    left: 16px;
  }

  &_right {
    right: 16px;
  }
}

.choiceButton {
  width: 220px;
}

.label {
  height: 40px;
  width: 220px;
}

.poster {
  border-radius: var(--radius-20);
  height: 330px;
  width: 220px;
}

.background {
  height: 750px;
  position: absolute;
  width: 675px;
  z-index: -1;
  @include effect(frame-blur);

  &::before {
    background-color: var(--black-60);
    content: '';
    inset: 0;
    position: absolute;
    z-index: 2;
  }
}

@include media-query(tablet) {
  .root {
    justify-content: flex-end;
    padding: 8px;
    width: 100%;
  }

  .choiceButton {
    margin-bottom: 16px;
    width: 100%;
  }

  .label {
    width: 100%;
  }

  .poster {
    height: 280px;
    width: 100%;
  }

  .background {
    bottom: -140px;
  }
}
