@use '@shared/styles/reusable.scss' as *;

.label {
  @include text-style(24);
}

.separatorWrapper {
  align-items: center;
  display: flex;
  gap: 8px;
}

.separator {
  background-color: var(--dark-400);
  height: 1px;
  opacity: 0.2;
  width: 80%;
}

.input {
  width: 100%;
}

.button {
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.goButton {
  bottom: 4px;
  position: absolute;
  right: 4px;
}

.text {
  text-align: center;
  white-space: pre-line;
  @include text-style(12);
}

.link {
  color: var(--bisky-100);
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
  @include transition(filter);

  &:hover {
    filter: brightness(1.2);
  }
}
