$background: #170e19;
$background-header: #261829;
$background-search: #36223a;
$background-search-lighter: #4c2f52;
$background-light: #e9ebee;

$background-transparent: #170e198e;

$bisky: #dd5480;
$bisky-hover: #b6476a;
$bisky-dark: #77243e;
$bisky-dark-hover: #5e1c31;

$white: #ffffff;
$red: #dc143c;
$black: #000000;
$transparent: transparent;

$font-black: #1d1e29;
$font-white: #ffffff;

$button-disabled: #a19e9f;

$rating-high: #3bb33b;
$rating-medium: #777;
$rating-low: #ff0000;

$type-ongoing: #4f91e8;
$type-anons: #ef8d50;
$type-released: #66bb6a;
