$background: #170e19;
$background-header: #261829;
$background-light: #e9ebee;

$background-transparent: #170e198e;

$bisky: #dd5480;
$bisky-dark: #681f36;

$white: #ffffff;
$red: #dc143c;
$transparent: transparent;

$font-black: #1d1e29;
$font-white: #ffffff;

$button-disabled: #a19e9f;

$rating-high: #3bb33b;
$rating-medium: #777;
$rating-low: #ff0000;
