$background: #170e19;
$background-header: #231726;
$background-search: #322136;
$background-light: #eef0eb;

$bisky: #dd5480;
$bisky-dark: #801a59;
$bisky-dark-hover: #731750;
$bisky-hover: #be3d73;

$font-black: #220c12;
$font-white: #eef0eb;

$transparent: #ffffff00;

$score-high: #3bb33b;
$score-medium: #777;
$score-low: #ff0000;

$status-ongoing: #4f91e8;
$status-anons: #ef8d50;
$status-released: #4a884d;
