@use "@/theme/colors" as *;
@use "@/theme/extra" as *;

* {
  color: $bisky-dark-400;
  letter-spacing: 1px;
  color: $bisky-light-100;
}

body {
  margin: 0;
  background-color: $bisky-dark-400;
  height: 100%;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 12px 20px;
  background-color: $bisky-300;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  font-family: inherit;
  font-weight: 700;

  &:hover {
    background-color: $bisky-200;
  }
}

input {
  border: none;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}
