@use "@/theme/colors";

* {
  color: colors.$font-black;
  letter-spacing: 1px;
  font-weight: 700;
}

.swiper {
  width: 100%;
}

html,
body {
  margin: 0;
  background-color: colors.$background;
  height: 100%;
}

#__body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li::marker {
  content: none;
}

a {
  text-decoration: none;
}

button {
  font-size: 16px;

  cursor: pointer;
  transition: 0.2s;
  background: colors.$bisky-dark;
  color: colors.$font-white;
  border: none;

  border-radius: 10px;
  padding: 12px 20px;

  &:disabled {
    cursor: default;
    background: colors.$button-disabled;
  }

  &:hover {
    background: colors.$bisky-dark-hover;
  }
}

input {
  border-radius: 10px;
  font-size: 20px;
  padding: 8px;
  transition: 0.2s;
  border: 2px solid colors.$transparent;

  &:focus {
    outline: none;
  }
}

.swiper-slide-active {
  &::before {
    background-color: rgba(0, 0, 0, 0.25) !important;
  }

  &::after {
    background-color: colors.$transparent !important;
    visibility: hidden;
  }
}
