@use "@/theme/colors.scss" as *;
@use "@/theme/extra.scss" as *;

* {
  letter-spacing: 1px;
  color: $bisky-light-100;

  &:focus {
    outline: none;
  }
}

html {
  display: flex;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-x: hidden;

  margin: 0;
  padding: 0;

  background-color: $bisky-dark-400;
}

.main {
  position: relative;
  height: 100%;
  z-index: 10;

  flex: 1 auto;

  padding: 0 16px;
  margin-bottom: 160px;

  background-color: $bisky-dark-400;
}

.main__content {
  max-width: 1280px;
  height: 100%;

  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
