.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  width: min-content;
  height: 80px;

  &:has(a:hover),
  &.active {
    border-bottom: 4px solid var(--bisky-100);
  }
}
