@use "@/theme/colors" as *;

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  &__red {
    background-color: $red;
  }

  &__gray {
    background-color: $gray;
  }

  &__lime {
    background-color: $lime;
  }
}
