@use "@/theme/colors.scss" as *;

.scoreBadge {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 4px 8px;
  border-radius: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  &_red {
    background-color: $red;
  }

  &_gray {
    background-color: $gray;
  }

  &_lime {
    background-color: $lime;
  }
}
