@import "@shared/styles/reusable.scss";

.root {
  position: relative;
}

.slider {
  cursor: grab;
  border-radius: var(--small-radius);
}

.arrowWrapper {
  position: absolute;
  inset: 0px -44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  gap: 24px;
}

.arrow {
  width: 36px;
  height: 36px;

  cursor: pointer;
  user-select: none;

  @include transition(opacity);

  &:first-child {
    rotate: 180deg;
  }

  &_disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.catalogSlide {
  min-width: 160px;
  max-width: 160px;
  height: 256px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  cursor: pointer;
  border-radius: var(--big-radius);
  border: 2px solid var(--bisky-400);

  @include transition(background-color);

  &:hover {
    background-color: var(--bisky-400);
  }

  &_twoRows {
    margin: auto 0px;
  }
}

.catalogIcon {
  width: 32px;
  height: 32px;

  rotate: (180deg);
}
