@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @extend %invoke-scale;
}

.text {
  text-align: center;
  white-space: pre-line;
}

.input {
  width: 100%;
}

.saveWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.separator {
  background-color: var(--dark-400);
  height: 1px;
  opacity: 0.2;
  width: 80%;
}

.link {
  color: var(--bisky-100);
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
  @include transition(filter);

  &:hover {
    filter: brightness(1.2);
  }
}

@include media-query(tablet) {
  .button {
    width: 100%;
  }
}
