@import "./variables/borders.scss";
@import "./variables/colors.scss";

* {
  letter-spacing: 1px;
  color: var(--light-100);
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  display: flex;
  min-height: 100%;

  @extend .colors, .borders;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-x: hidden;

  margin: 0;
  padding: 0;

  background-color: var(--dark-400);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}
