@use "./reusable.scss";

* {
  letter-spacing: 1px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  display: flex;
  min-height: 100%;

  @extend .colors, .borders, .desktopContainers;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;

  overflow-x: hidden;

  margin: 0;
  padding: 0;

  background-color: var(--dark-400);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    width: px;
    background-color: var(--dark-100);
    border-radius: var(--big-radius);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

ol {
  margin: 0px;
  padding: 0px;
}
