.root {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0px 8px;
  gap: 4px;

  border-radius: var(--small-radius);
  user-select: none;

  &_small {
    height: 20px;
    padding: 0px 4px;

    .root_icon {
      gap: 2px;
    }

    .icon {
      width: 12px;
      height: 12px;
    }
  }

  &_medium {
    height: 24px;

    &:not(.root_icon) {
      padding: 0px 4px;
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &_big {
    height: 32px;
    border-radius: var(--big-radius);

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &_low {
    background-color: var(--red);
  }

  &_normal {
    background-color: var(--gray);
  }

  &_high {
    background-color: var(--lime);
  }
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
