@use '@shared/styles/reusable.scss' as *;

.header {
  height: 208px;
  width: 100%;
}

.main {
  width: 100%;
}

.info {
  height: 800px;
  width: 100%;
}

@include media-query(tablet) {
  .header {
    height: 231px;
  }
}
