@use '@shared/styles/reusable.scss' as *;

.header {
  height: 208px;
  width: 100%;
}

.main {
  display: flex;
  gap: 20px;
  width: 100%;
}

.info {
  flex-shrink: 1 !important;
  height: calc(100vh - 472px);
  width: 100%;
}

.friends {
  height: 176px;
  width: 100%;
}

.list {
  height: 260px;
  width: 100%;
}

.bar {
  height: 50px;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  width: 340px;
}

@include media-query(tablet, true) {
  .bar {
    display: none;
  }
}

@include media-query(tablet) {
  .main {
    flex-direction: column;
    gap: 12px;
  }

  .header {
    height: 231px;
  }

  .left {
    display: none;
  }

  .list {
    height: 220px;
  }

  .friends {
    height: 186px;
  }
}
