@use '@shared/styles/reusable.scss' as *;

.header {
  height: 208px;
  width: 100%;
}

.main {
  display: flex;
  gap: 20px;
  width: 100%;
}

.info {
  height: 800px;
  width: 100%;
}

.friends {
  height: 176px;
  width: 340px;
}

.bar {
  height: 50px;
  width: 100%;
}

@include media-query(tablet, true) {
  .bar {
    display: none;
  }
}

@include media-query(tablet) {
  .main {
    flex-direction: column;
    gap: 12px;
  }

  .header {
    height: 231px;
  }

  .left {
    display: none;
  }
}
