@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @extend %invoke-scale;
}

.button {
  width: 100%;
}

.separator {
  background-color: var(--dark-400);
  border-radius: var(--radius-20);
  height: 2px;
  opacity: 0.4;
  width: 80%;
}

.text {
  text-align: center;
  white-space: pre-line;
}

.yesButton {
  background-color: var(--red) !important;
}
