@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  background-color: var(--dark-100);
  border: 0px;
  border-radius: var(--radius-12);
  cursor: pointer;
  display: flex;
  gap: 32px;
  height: 40px;
  padding: 8px;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition((filter, scale), (250ms, 100ms));

  &:hover {
    filter: brightness(1.1);
  }
}

.searchLabel {
  align-items: center;
  display: flex;
  gap: 4px;
}

.searchText {
  color: var(--light-400);
  @include text-style(16);
}

.searchIcon {
  fill: var(--light-400);
  height: 16px;
  width: 16px;
}

.hotKey {
  align-items: center;
  background-color: var(--dark-200);
  border-radius: var(--radius-8);
  color: var(--light-400);
  display: flex;
  height: 24px;
  padding: 0 4px;
  @include text-style(16);
}
