@use '@shared/styles/reusable.scss' as *;

.root {
  background-color: var(--dark-300);
  border-radius: var(--radius-20);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  width: 100%;
  @extend %invoke-scale;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.scoreCountText {
  opacity: 0.6;
}

.row {
  display: flex;
  gap: 8px;

  &_rating {
    align-items: center;
  }
}

.icon {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.rowText {
  @include text-style(20);
  @include status-color(color);
}

.rowTextWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
}

@include media-query(tablet, true) {
  .row_mobile {
    display: none;
  }
}

@include media-query(tablet) {
  .icon {
    height: 16px;
    width: 16px;
  }

  .rowText {
    @include text-style(16);
  }
}
