@use '@shared/styles/reusable.scss' as *;

.root {
  background-color: var(--dark-200);
  border-radius: var(--radius-20);
  display: flex;
  gap: 16px;
  padding: 8px;
  position: relative;

  @extend %invoke-scale;
  @include transition((scale), (100ms));

  &_vertical {
    flex-direction: column;
  }
}

.tabIndicator {
  background-color: var(--bisky-200);
  border-radius: var(--radius-12);
  bottom: 8px;
  position: absolute;
  top: 8px;
  z-index: 0;
  @include effect(back-shadow);
  @include transition((left, width, height, top));
}

.tab {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 100%;
  z-index: 1;
  @extend %no-select;
  @include transition((scale), (100ms));

  &_column {
    flex-direction: column;
  }

  &_disabled {
    display: none;
  }

  &:not(&_active) {
    cursor: pointer;
    @extend %press, %no-select;
  }
}

.icon {
  height: 16px;
  width: 16px;
}

.children {
  @include text-style(12);

  &_row {
    @include text-style(16);
  }
}
