@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.errorBlock {
  align-items: center;
  background-color: var(--dark-200);
  border-radius: var(--radius-20);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  width: 300px;
  @extend %invoke-scale;
}

.label {
  align-items: center;
  display: flex;
  gap: 12px;
}

.labelText {
  @include text-style(32);
}

.labelCode {
  background-color: var(--red);
  border-radius: var(--radius-12);
  padding: 4px;
  @include text-style(32);
}

.image {
  border-radius: var(--radius-20);
  object-fit: cover;
}

.description {
  @include text-style(20);
}

.button {
  width: 100%;
}

.empty {
  height: 92px;
  flex-shrink: 0;
}
