@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 100%;
  @extend %invoke-scale;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 100%;
}

.emptyWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.image {
  border-radius: var(--radius-20);
  object-fit: cover;
}

.emptyLabel {
  @include text-style(24);
}

.barMargin {
  flex-shrink: 0;
  height: 120px;
  width: 100%;
}

@include media-query(tablet, true) {
  .barMargin {
    display: none;
  }
}

@include media-query(tablet) {
  .emptyWrapper {
    background-color: var(--dark-300);
    border-radius: var(--radius-20);
    padding: 20px;
  }

  .root {
    gap: 8px;
  }

  .loading {
    gap: 8px;
  }
}
