@use "@/01-shared/themes/colors.scss" as *;

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media screen and (max-width: 1000px) {
  .home {
    display: none;
  }
}
