$background: #181922;
$background-up: #1d1e29;
$background-header: #242533;
$background-light: #e9ebee;

$bisky: #dd5480;
$bisky-dark: #b14365;

$white: #ffffff;
$green-light: #1de21d;
$green: #006400;
$blue: #00008b;
$yellow: #f6fa27;
$red: #dc143c;
$red-light: #ff0033;
$gray: #e4e4e4;
$transparent: transparent;

$main-font: #1d1e29;
$main-font-transparent: #1d1e299a;

$button-red: #681f36;
$button-disabled: #a19e9f;
$button-red-hover: #501829;
$button-white: #d1d1d1;

$input-gray: #1d1e290d;
$input-light: #343549;
