@use "./colors";

* {
  font-family: "CascadiaMono" !important;
  color: colors.$main-font;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  background-color: colors.$background;
  height: 100%;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  &.main {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .gaps {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.footer {
  background-color: colors.$background-up;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$white;
  height: 80px;
  cursor: default;
  width: 100%;
}

.line {
  width: 70%;
  margin-left: 10px;
  height: 1px;
  opacity: 0.2;
  background-color: colors.$main-font-transparent;
}

.error {
  padding: 20px;
  background-color: colors.$background-light;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;

  &-flex {
    display: flex;
    gap: 10px;
    align-items: center;

    &-numb {
      padding: 10px;
      background-color: colors.$red;
      border-radius: 20px;
      color: colors.$white;
    }
  }

  img {
    width: 200px;
  }
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  transition: 0.2s;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 10px;

  &-red {
    background-color: colors.$button-red;
    color: colors.$white;

    &:hover {
      background: colors.$button-red-hover;
    }
  }
}
