@use '@shared/styles/reusable.scss' as *;

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
  padding: 124px 20px 20px;
}

@include media-query(tablet) {
  .main {
    gap: 12px;
    padding: 8px;
  }
}
