@use '@shared/styles/reusable.scss' as *;
@use '../Skeleton.module.scss' as *;

.root {
  width: 100%;
  @extend %skeleton-base;

  &_big {
    height: 124px;
  }

  &_small {
    height: 94px;
  }

  &_flexShrink {
    flex-shrink: 0;
  }
}
