@use "@shared/styles/reusable.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: justify;
  overflow: hidden;

  &_opened {
    -webkit-line-clamp: unset;
  }
}

.moreButton {
  width: fit-content;

  user-select: none;
  cursor: pointer;

  @include transition(scale);

  &:active {
    scale: 0.9;
  }
}
