@use "@/theme/colors";
@use "@/theme/modification";

.swiper {
  width: 100%;
  user-select: none;

  &__slide {
    max-width: 1000px;
  }
}

.oneSlide {
  background-size: cover;
  background-position: center;
  transition: 1s;
  border-radius: 30px;

  display: flex;
  min-height: 500px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 30px;
    background-color: colors.$black;
    opacity: 0.2;
  }

  &__main {
    position: absolute;
    margin-left: 40px;
    width: 90%;
    height: 80%;

    display: flex;
    align-items: center;
    gap: 20px;

    &_label {
      color: colors.$font-white;
      font-size: 48px;
      text-shadow: 0px 0px 30px colors.$black;
    }

    &_img {
      border-radius: 20px;
      box-shadow: 0px 0px 30px colors.$black;
    }
  }

  &__score {
    position: absolute;
    top: 20px;
    right: 20px;

    opacity: 0.9;
    color: colors.$font-white;
    font-size: 36px;
    padding: 10px;
    border-radius: 20px;
  }

  &__genres {
    position: absolute;
    bottom: 20px;
    left: 20px;

    display: flex;
    gap: 10px;

    &_text {
      opacity: 0.7;
      color: colors.$font-white;
      font-size: 18px;
      text-shadow: 0px 0px 30px colors.$black;

      &:first-child {
        &::before {
          content: none;
        }
      }

      &::before {
        content: "|";
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: modification.$laptop) {
  .swiper {
    &__slide {
      max-width: 600px;
    }
  }

  .oneSlide {
    &__main {
      &_label {
        font-size: 32px;
      }

      &_img {
        width: 200px;
        height: 300px;
      }
    }

    &__score {
      font-size: 28px;
      padding: 8px;
    }

    &__genres {
      &_text {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: modification.$mobile) {
  .swiper {
    &__slide {
      max-width: 380px;
    }
  }

  .oneSlide {
    min-height: 520px;

    &__main {
      flex-direction: column;
      margin-left: 0px;
      width: calc(100% - 40px);
      height: 100%;
      padding: 20px 20px 0 20px;

      &_label {
        text-shadow: none;
        text-align: center;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      &_img {
        width: 200px;
        height: 300px;
      }
    }

    &__score {
      font-size: 24px;
      padding: 8px;

      top: 10px;
      right: 10px;
    }

    &__genres {
      width: calc(100% - 20px);
      gap: 4px;
      flex-wrap: wrap;
      justify-content: center;
      left: 0;
      bottom: 0;
      padding: 0 10px 10px 10px;

      &_text {
        font-size: 16px;

        &::before {
          margin-right: 4px;
        }
      }
    }
  }
}
