@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  gap: 16px;
  height: 400px;
  width: 800px;
}

.separator {
  position: relative;
  width: 2px;

  &::after {
    background-color: var(--dark-100);
    content: '';
    height: calc(100% + 40px);
    position: absolute;
    top: -20px;
    width: 2px;
  }
}

.temporary {
  color: var(--red);
  fill: var(--red);

  &_active {
    color: var(--light-100);
    fill: var(--light-100);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  @extend %invoke-scale;

  &_hidden {
    display: none;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &_hidden {
    display: none;
  }
}

.button {
  background-color: var(--bisky-300);
  justify-content: flex-start;
}

@include media-query(tablet, true) {
  .buttonsWrapper {
    display: none;
  }

  .mobile {
    display: none !important;
  }
}

@include media-query(tablet) {
  .root {
    height: fit-content;
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .separator {
    display: none;
  }

  .temporary {
    background-color: var(--red) !important;
  }
}
