@use "@shared/styles/reusable.scss" as *;

.root {
  max-width: calc(var(--fullHD) - 104px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.seasonWrapper {
  display: flex;
  justify-content: center;
}

.sliders {
  width: 100%;
}

@media screen and (max-width: $fullHD) {
  .root {
    max-width: calc(var(--HD) - 16px);
  }
}
