@import "@shared/styles/reusable.scss";

.root {
  max-width: calc(var(--fullHD) - 104px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 24px;
}

.seasonSlider {
  display: flex;
  gap: 24px;
  justify-content: center;
  border-radius: var(--small-radius);
}

.season {
  min-width: 1080px;
  height: 380px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rowLabel {
  width: 300px;
  height: 32px;
}

.rowSlider {
  display: flex;
  gap: 24px;
}

.rowTwoColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.genreCard {
  width: 344px;
  height: 200px;
}

.factCard {
  width: 100%;
  height: 192px;
}

@media screen and (max-width: $fullHD) {
  .root {
    max-width: calc(var(--HD) - 16px);
  }
}
