@use '@shared/styles/reusable.scss' as *;

.card {
  border: 2px solid transparent;
  border-radius: var(--radius-20);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition((border-color, scale), (250ms, 100ms));

  &:hover {
    border-color: var(--bisky-400);
  }
}

.addButton {
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 8px;
  @include transition(opacity);
}

.background {
  background-color: var(--black-60);
  inset: 0px;
  opacity: 0;
  position: absolute;
  @include transition(opacity);
}

.bigName {
  background-color: var(--dark-240);
  bottom: 0px;
  left: 0px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  right: 0px;
  @include text-style(16);
  @include transition(opacity);
  @include effect(background-blur-shadow);
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &_big {
    &:hover .background,
    &:hover .addButton,
    &:hover .bigName {
      opacity: 1;
    }

    .card {
      height: 320px;
      width: 200px;
    }

    .badges {
      width: 200px;
    }
  }

  &_small {
    .card {
      height: 190px;
      width: 120px;
    }

    .badges {
      width: 120px;
    }
  }
}

.nameWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
  width: 120px;
}

.smallName {
  width: 100%;
  @include text-style(12);
}

.score {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}

.poster {
  height: 100%;
  width: 100%;
}

.relationBadge {
  outline: 1px solid var(--bisky-400);
}

.reWatchedCountBadge {
  background-color: var(--bisky-400);
}

.statusBadge {
  @include status-color(background-color);
}

.card:has(.addButton:active) {
  scale: 1;
}
