@use '@shared/styles/reusable.scss' as *;

.relation {
  color: var(--light-400);
  @include text-style(16);
}

.label {
  @include text-style(12);
}

.hoverBackground {
  background-color: var(--black-60);
  border-radius: var(--radius-20);
  height: 100%;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  @include transition(opacity);
}

.hoverLabel {
  align-items: center;
  background-color: var(--dark-240);
  border-radius: 0 0 var(--radius-20) var(--radius-20);
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 8px;
  position: absolute;
  width: 100%;
  z-index: 1;
  @include effect(background-blur-shadow);
  @include transition(opacity);
}

.scoreBadge {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  @include transition(opacity);
}

.currentUserScoreBadge {
  width: fit-content;
}

.addButton {
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 8px;
  visibility: hidden;
  z-index: 1;
}

.poster {
  border-radius: var(--radius-20);
  height: 320px;
  width: 200px;
  @include transition(scale);
}

.root {
  display: flex;
  flex-direction: column;
  height: 320px;
  position: relative;
  width: 200px;

  &:has(.relation) {
    margin-bottom: 22px;

    .relation {
      bottom: -22px;
      position: absolute;
    }
  }

  &:has(.currentUserScoreBadge) {
    margin-bottom: 28px;

    .currentUserScoreBadge {
      bottom: -28px;
      position: absolute;
    }
  }

  &:hover {
    .hoverBackground,
    .hoverLabel,
    .addButton {
      opacity: 1;
      visibility: visible;
    }

    .poster {
      scale: 1.2;
    }
  }
}

.posterWrapper {
  border-radius: var(--radius-20);
  overflow: hidden;
}

@include media-query(tablet, true) {
  .label {
    display: none !important;
  }

  .scoreBadge_small {
    display: none;
  }

  .currentUserScoreBadge_small {
    display: none;
  }
}

@include media-query(tablet) {
  .poster {
    height: 190px;
    width: 120px;
  }

  .root {
    height: unset;
    width: 120px;

    &:hover .poster {
      scale: 1;
    }
  }

  .relation {
    @include text-style(12);
  }

  .hoverBackground {
    display: none;
  }

  .hoverLabel {
    display: none;
  }

  .scoreBadge {
    &_small {
      opacity: 1;
      visibility: visible;
    }

    &_big {
      display: none;
    }
  }

  .currentUserScoreBadge_big {
    display: none;
  }

  .addButton {
    display: none;
  }
}
