@use '@shared/styles/reusable.scss' as *;

.button {
  background-color: var(--red) !important;
}

.link {
  color: var(--bisky-100);
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
  @include transition(filter);

  &:hover {
    filter: brightness(1.2);
  }
}
