@use "@shared/styles/reusable.scss" as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border: none;
  cursor: pointer;
  border-radius: var(--small-radius);

  @include transition((background-color, scale, opacity), (0.25s, 0.1s, 0.25s));

  &:active {
    scale: 0.9;
  }

  &_completed {
    background-color: var(--lime);
  }

  &_setWatch,
  &_added {
    background-color: var(--bisky-200);
  }

  &_watching {
    background-color: var(--blue);
  }

  &_dropped {
    background-color: var(--bisky-400);
  }

  &_cancel {
    background-color: var(--gray);
  }

  &_skipped {
    background-color: var(--light-400);
  }

  &:disabled {
    opacity: 0.9;
    pointer-events: none;

    &:active {
      scale: 1;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
}
