@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border: none;
  cursor: pointer;
  border-radius: var(--small-radius);

  @include transition((background-color, scale), (0.25s, 0.1s));

  &:active {
    scale: 0.9;
  }

  &_complete {
    background-color: var(--lime);
  }

  &_setWatch,
  &_added {
    background-color: var(--bisky-200);
  }

  &_watching {
    background-color: var(--blue);
  }

  &_dropped {
    background-color: var(--dark-100);
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;

    &:active {
      scale: 1;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
}
