@import "@shared/styles/reusable.scss";

.root {
  min-width: 344px;
  max-width: 344px;
  height: fit-content;
  padding: 12px 0px 68px 16px;

  background-color: var(--dark-300);
  border-radius: var(--big-radius);

  position: sticky;
  top: 120px;
  right: 0px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &_cleanButtonOn {
    padding: 12px 0px 112px 16px;
  }
}

.mainWrapper {
  width: 100%;
  height: fit-content;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  padding-right: 4px;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-100);
    border-radius: var(--big-radius);
  }
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  bottom: 12px;
}

.resetButton {
  width: calc(100% - 32px) !important;
  justify-content: center;
  background-color: var(--dark-100) !important;

  &_submit {
    background-color: var(--bisky-300) !important;

    &:disabled {
      background-color: var(--light-400) !important;
    }
  }
}
