@import "@shared/styles/reusable.scss";

.root {
  width: 344px;
  height: fit-content;
  padding: 12px;

  background-color: var(--dark-300);
  border-radius: var(--big-radius);

  position: sticky;
  top: 120px;
  right: 0px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
