@use "@/theme/extra" as *;
@use "@/theme/colors" as *;

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  z-index: 100;

  background-color: $background-header;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

  &__container {
    @extend .container;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
