@use "@/theme/colors";
@use "@/theme/modification";

.opactityBack {
  position: fixed;
  z-index: 9;
  background-color: colors.$black;

  opacity: 0;
  visibility: hidden;

  width: 100%;
  height: 100%;
  transition: 0.2s;

  &_active {
    visibility: visible;
    opacity: 0.3;
  }
}

.header {
  background-color: colors.$background-header;
  z-index: 10;
  height: 80px;

  position: fixed;
  width: 100%;
  right: 0;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

  &_container {
    @extend .container;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__left {
    display: flex;
    gap: 50px;
    height: 100%;

    &__logo {
      display: flex;
      gap: 10px;
      align-items: center;

      &_label {
        font-size: 32px;
        font-weight: 600;
        color: colors.$bisky;
        transition: 0.2s;
      }

      &:hover {
        .header__left__logo_label {
          color: colors.$bisky-hover;
        }
      }
    }

    &__navigation {
      display: flex;
      align-items: center;
      gap: 20px;

      &_link {
        font-weight: 500;
        font-size: 20px;
        color: colors.$font-white;

        width: 100px;
        height: calc(100% - 10px);

        display: flex;
        justify-content: center;
        align-items: center;

        border-top: 5px solid colors.$transparent;
        border-bottom: 5px solid colors.$transparent;
        transition: 0.2s;
        opacity: 0.9;

        &:hover {
          opacity: 1;
          border-bottom: 5px solid colors.$bisky-dark;
        }
      }
    }
  }

  &__right {
    &__account {
      display: flex;
      align-items: center;
      position: relative;
      gap: 5px;

      &_nickname {
        max-width: 140px;
        padding: 10px 0 10px 10px;
        border-radius: 10px 0 0 10px;
        background-color: colors.$bisky-dark;
        height: 20px;

        color: colors.$font-white;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &_avatar {
        border-radius: 100px;
        object-fit: cover;
      }

      &::before {
        content: "";
        background-color: colors.$bisky-dark;
        width: 20px;
        height: 40px;
        position: absolute;
        right: 40px;
        z-index: -1;
      }
    }

    &__button {
      font-size: 16px;
      font-weight: 500;
      color: colors.$font-white;

      cursor: pointer;
      transition: 0.2s;
      background: colors.$bisky-dark;
      border: none;

      border-radius: 10px;
      padding: 12px 20px;

      &:hover {
        background: colors.$bisky-dark-hover;
      }
    }
  }
}
