@use "@/theme/colors.scss" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px;
  width: 100%;
  gap: 32px;
  box-sizing: border-box;
  background-color: $bisky-dark-300;
}
