@use '@shared/styles/reusable.scss' as *;

.root {
  border-radius: var(--radius-20);
  flex-shrink: 0;
  height: 1000px;
  overflow: hidden;
  position: relative;
  width: 100%;
  @extend %invoke-scale;
}

.kodik {
  border: 0px;
  height: 100%;
  width: 100%;
  @extend %invoke;
}

.skeleton {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@include media-query(full-hd) {
  .root {
    height: 700px;
  }
}

@include media-query(hd) {
  .root {
    height: 500px;
  }
}

@include media-query(tablet) {
  .root {
    height: 400px;
  }
}

@include media-query(mobile) {
  .root {
    height: 300px;
  }
}
