@use "@/theme/colors.scss" as *;

.statusBagde {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 4px 8px;
  border-radius: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  &_blue {
    background-color: $blue;
  }

  &_orange {
    background-color: $orange;
  }

  &_green {
    background-color: $green;
  }

  &_red {
    background-color: $red;
  }
}
