@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonsWrapper {
  display: flex;
  gap: 24px;
}

.button {
  width: 100%;

  &_set {
    background-color: var(--bisky-100);
  }

  &_delete {
    background-color: var(--bisky-400);
  }
}

.labelWrapper {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.label {
  @include text-style(24);
}

.scoreText {
  @include text-style(24);
  @include score-color(color);
}
