@use '@shared/styles/reusable.scss' as *;

.animes {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  position: relative;
  z-index: 0;
}

@include media-query(tablet) {
  .animes {
    gap: 8px;
  }
}
