@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.title {
  @include text-style(32);
}

.description {
  text-align: center;
  width: 400px;
}

.image {
  border-radius: var(--radius-20);
  object-fit: cover;
}

.buttonWrapper {
  display: flex;
  gap: 12px;
  width: 100%;
}

.button {
  width: 100%;

  &_no {
    background-color: var(--bisky-400);
  }

  &_yes {
    background-color: var(--bisky-200);
  }
}
