@import "@shared/styles/reusable.scss";

.root {
  position: relative;
  display: flex;

  overflow: hidden;
}

.blurImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 1;

  background-color: var(--bisky-400);

  @include transition((background-color, opacity));

  &_hide {
    opacity: 0;
  }
}

.icon {
  width: 50%;
  height: 50%;
}
