@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 0px 16px;
  gap: 4px;

  background-color: var(--bisky-300);
  border-radius: var(--small-radius);
  border: none;
  cursor: pointer;

  @include transition((background-color, transform), (0.25s, 0.1s));

  &_icon {
    padding: 0px 10px;
  }

  &:hover {
    background-color: var(--bisky-200);
  }

  &:active {
    background-color: var(--bisky-400);
    transform: scale(0.9);
  }

  &:disabled {
    background-color: var(--grey);
    cursor: default;

    &:active {
      transform: scale(1);
    }
  }
}

.icon {
  width: 16px;
  height: 16px;

  &_only {
    width: 20px;
    height: 20px;
  }
}
