@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
}

@include media-query(tablet) {
  .root {
    flex-direction: column;
    gap: 12px;
  }
}
