@use "@/theme/colors";
@use "@/theme/modification";

.info {
  @extend .block;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  &__main {
    font-size: 32px;
  }

  &__sub {
    font-size: 20px;
    opacity: 0.7;
  }

  &__all {
    display: table;
    position: relative;
    z-index: 1;

    &__label {
      cursor: pointer;
      font-size: 16px;
      color: colors.$bisky-dark;
      opacity: 0.7;

      display: table-cell;
      padding-right: 12px;
    }

    &__block {
      transition: 0.2s;
      position: absolute;
      visibility: hidden;
      opacity: 0;

      background-color: colors.$bisky-dark;
      padding: 12px;
      box-shadow: 0 0 12px rgb(0, 0, 0, 0.4);
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 400px;

      &__text {
        color: colors.$font-white;
        font-size: 16px;
      }
    }

    &:hover {
      .label__all__block {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.description {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    overflow: hidden;
    max-height: unset;
    margin-bottom: 10px;

    &_hide {
      max-height: 150px;
    }
  }
}
