@use '@shared/styles/reusable.scss' as *;

.card {
  border: 2px solid transparent;
  border-radius: var(--radius-20);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition((border-color, scale), (250ms, 100ms));

  &:hover {
    border-color: var(--bisky-400);
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &_big {
    .card {
      height: 200px;
      width: 200px;
    }

    .name {
      @include text-style(24);
    }

    .badges {
      width: 200px;
    }
  }

  &_small {
    .card {
      height: 120px;
      width: 120px;
    }

    .name {
      @include text-style(12);
    }

    .badges {
      width: 120px;
    }
  }
}

.score {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}

.author {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}

.infoWrapper {
  bottom: 8px;
  display: flex;
  flex-direction: column;
  left: 8px;
  position: absolute;
  z-index: 1;
}

.poster {
  height: 100%;
  width: 100%;
}

.itemsCount {
  opacity: 0.8;
  @include text-style(12);
}
