@import "@shared/styles/reusable.scss";

.root {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 204px;
}

.main {
  max-width: calc(var(--fullHD) - 104px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  display: flex;
  gap: 32px;
  align-items: flex-end;
  padding: 24px 0px;
}

.background {
  z-index: -1;
  position: absolute !important;
  left: 0px;
  right: 0px;
  width: 100% !important;
  filter: brightness(0.4);
  overflow: hidden;
}

.backgroundImage {
  scale: (1.05);
  filter: blur(4px);
  object-fit: cover;
  width: 100% !important;
}

.avatar {
  width: 120px !important;
  height: 120px !important;
  border-radius: var(--full-radius);
}

.avatarImage {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
}

.badge {
  background-color: var(--bisky-300);
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.date {
  opacity: 0.6;
}

@media screen and (max-width: $fullHD) {
  .main {
    max-width: calc(var(--HD) - 16px);
  }
}
