@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;

  min-width: 400px;
  max-width: 600px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &_underline {
    &::after {
      content: "";

      margin: 8px 20px 0px 20px;
      width: calc(100% - 40px);
      height: 1px;

      opacity: 0.8;
      background-color: var(--dark-400);
    }

    &:last-child::after {
      content: unset;
    }
  }
}

.labelsWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
}

.textUnderline {
  line-height: 20px;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: ",";
  }

  &:last-child::after {
    content: unset;
  }
}
