@use "@/theme/colors" as *;

.leftSide {
  display: flex;
  gap: 32px;
  height: 72px;

  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;

    &__text {
      font-weight: 700;
      font-size: 44px;
      line-height: 52px;
      color: $bisky-100;
    }
  }

  &__links {
    display: flex;
    gap: 20px;

    &__text {
      display: flex;
      align-items: center;
      height: 100%;

      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: $bisky-light-100;
      border-bottom: 4px solid transparent;
      transition: 0.2s;

      &:hover {
        border-bottom: 4px solid $bisky-100;
      }
    }
  }
}
