@use "@shared/styles/reusable.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
}

.status {
  &_added {
    color: var(--bisky-100);
  }

  &_watching {
    color: var(--blue);
  }

  &_completed {
    color: var(--green);
  }

  &_dropped {
    color: var(--bisky-400);
  }
}

.animesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;

  animation: invokeAll 0.2s ease-in-out;
}

.zeroResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;

  height: fit-content;

  background-color: var(--dark-200);
  border-radius: var(--big-radius);

  animation: invokeAll 0.2s ease-in-out;
}

.statusButtons {
  padding: 20px;
  display: flex;
  gap: 16px;

  top: 120px;
  position: sticky;
  z-index: 10;

  border-radius: var(--big-radius);
  background-color: var(--dark-240);
  border-radius: var(--big-radius);
  backdrop-filter: blur(4px);

  @include transition(background-color);

  &:hover {
    background-color: var(--dark-200);
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.status {
  opacity: 0.6;
  background-color: var(--bisky-400);

  &_selected {
    opacity: 1;
    cursor: default;

    &:hover,
    &:active {
      background-color: var(--bisky-400);
    }
  }

  &:hover {
    opacity: 1;
  }
}
