@use '@shared/styles/reusable.scss' as *;

.root {
  display: flex;
  flex-wrap: wrap;
}

.anime {
  position: relative;
  user-select: none;

  &_skipped::after {
    align-items: center;
    background-color: var(--gray);
    content: 'X';
    display: flex;
    font-size: 100px;
    inset: 0px;
    justify-content: center;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
  }

  &_trust::after {
    align-items: center;
    background-color: var(--green);
    content: 'O';
    display: flex;
    font-size: 100px;
    inset: 0px;
    justify-content: center;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
  }
}

.animeInfo {
  background-color: var(--dark-300);
  bottom: 5px;
  left: 2px;
  padding: 8px;
  position: absolute;
}

.text {
  color: var(--light-100);
  @include status-color(color);
}

.poster {
  background-color: var(--bisky-400);
  border: 2px solid var(--bisky-200);
  height: 300px;
  object-fit: cover;
  user-select: none;
  width: 200px;
  pointer-events: none;
}

.panel {
  background-color: var(--dark-100);
  border-radius: var(--radius-20);
  left: 20px;
  padding: 20px;
  position: fixed;
  top: 20px;
  z-index: 100;
}

.panelText {
  color: var(--light-100);
}
