@use "@shared/styles/reusable.scss" as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.errorBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;

  background-color: var(--dark-200);
  border-radius: var(--big-radius);
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.errorNumber {
  padding: 4px;

  border-radius: var(--small-radius);
  background-color: var(--red);
}

.authBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.authButton {
  color: var(--bisky-100);
  cursor: pointer;
  border-bottom: 2px solid transparent;

  @include transition(border-color);

  &:hover {
    border-color: var(--bisky-100);
  }
}

.justBorder {
  border-bottom: 2px solid transparent;
}
