@use "@/01-shared/themes/colors.scss" as *;

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 160px;
  width: 100%;

  background-color: $bisky-dark-300;

  &__content {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 32px;

    display: flex;
    justify-content: space-between;

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      &__politics {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin: 0px;

        font-size: 14px;
        font-weight: 400;

        a {
          color: $bisky-light-300;
        }
      }
    }

    &__right {
      display: flex;
      align-items: flex-end;
      gap: 12px;
    }
  }
}
