@use "@/01-shared/themes/colors.scss" as *;

@keyframes invoke {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animePosterCard {
  display: flex;
  width: 200px;
  cursor: default;

  z-index: 1;
  position: relative;
  transition: 0.2s;

  animation: invoke 0.3s linear;

  &__image {
    border-radius: 20px;
    object-fit: cover;
  }

  &__score {
    top: 12px;
    right: 12px;
    position: absolute;
  }

  &__leftStatus {
    top: 12px;
    left: 12px;
    position: absolute;
  }

  &__rightStatus {
    bottom: 12px;
    right: 12px;
    position: absolute;
  }

  &__button {
    transition: 0.2s;
    bottom: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.8;

    &_setWatch {
      opacity: 0;
    }
  }

  &__label {
    max-width: 200px;
    width: 100%;

    pointer-events: none;
    position: absolute;
    margin-top: 4px;

    font-size: 16px;
    line-height: 19px;

    &__text {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;

      overflow: hidden;
      max-height: 40px;

      color: $bisky-light-100;
    }
  }

  &__hover {
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
      transform: scale(1.15);
      z-index: 2;

      .animePosterCard__image {
        box-shadow: 0px 0px 4px
          color-mix(in oklab, $bisky-dark-400, $transparent-100);
      }

      .animePosterCard__label__text {
        font-size: 12px;

        padding: 20px 8px 8px;
        position: relative;
        bottom: 20px;
        z-index: -1;

        background-color: $bisky-300;
        border-radius: 0 0 20px 20px;
        max-height: unset;
      }
    }
  }
}
