@use "@/theme/colors.scss" as *;

.bottomNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 10px 0px;

  background-color: transparentize($bisky-dark-300, 0.4);
  backdrop-filter: saturate(180%) blur(10px);

  width: 100%;

  position: fixed;
  bottom: 0;
  z-index: 100;
}
