@use '@shared/styles/reusable.scss' as *;

.icon {
  fill: var(--bisky-100);
}

.root {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  width: 100%;

  &_big {
    .icon {
      height: 24px;
      width: 24px;
    }

    .children {
      @include text-style(32);
    }

    .linkText {
      @include text-style(20);
    }
  }

  &_small {
    .icon {
      height: 16px;
      width: 16px;
    }

    .children {
      @include text-style(20);
    }

    .linkText {
      @include text-style(16);
    }
  }
}

.linkWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
  @extend %no-select;
}

.linkText {
  color: var(--bisky-100);
}
