@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 160px;
  max-width: 160px;
}

.poster {
  width: 100%;
  height: 256px;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label1 {
  width: 100%;
  height: 18px;
}

.label2 {
  width: 80px;
  height: 18px;
}

.infoWrapper {
  display: flex;
  gap: 4px;
}

.info {
  width: 50px;
  height: 20px;
}
