@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.label {
  text-align: center;
  @include text-style(24);
}

.button {
  background-color: var(--bisky-300);
}
