@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @extend %invoke-scale;
}

.text {
  text-align: center;
}

.input {
  width: 100%;
}

.saveWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@include media-query(tablet) {
  .button {
    width: 100%;
  }
}
