@use '@shared/styles/reusable.scss' as *;
@use '../Skeleton.module.scss' as *;

.root {
  @extend %skeleton-base;

  &_big {
    height: 80px;
    width: 180px;
  }

  &_small {
    height: 62px;
    width: 120px;
  }

  &_flexShrink {
    flex-shrink: 0;
  }
}
