@use "@/theme/colors.scss" as *;

.iconButton {
  padding: 0px;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.2s;

  &:active {
    transform: scale(0.9);
    transition-duration: 200ms;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    opacity: 0.4;
  }

  &_filled {
    background-color: $bisky-300;
    color: $bisky-light-100;

    padding: 10px;

    svg {
      fill: $bisky-light-100;
    }

    &:hover {
      background-color: $bisky-200;
    }
  }

  &_subtle {
    background-color: transparent;
    color: $bisky-light-100;

    svg {
      fill: $bisky-light-100;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
