@import "@shared/styles/reusable.scss";

.root {
  border: 0px;

  &_defaultStyles {
    border-radius: var(--small-radius);
    min-height: 562px;
  }
}

.playerSkeleton {
  height: 562px;
  width: 100%;
}
