@use "@/01-shared/themes/colors.scss" as *;

.rating {
  display: flex;
  align-items: center;

  overflow: auto;
  max-width: calc(100vw - 32px);
  width: fit-content;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &__star {
      svg {
        fill: $bisky-300 !important;
      }
    }

    &__label {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
