@import "@shared/styles/reusable.scss";

.root {
  width: 100%;
  max-width: 450px;
  padding: 48px 0px;
  position: relative;
  overflow: hidden;

  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_left {
    border-radius: var(--big-radius) 0px 0px var(--big-radius);
  }

  &_right {
    border-radius: 0px var(--big-radius) var(--big-radius) 0px;
  }
}

.background {
  position: absolute;
  z-index: -1;
  left: 110px;
  scale: 2;

  width: 100%;
  height: 100%;
}

.backgroundImage {
  filter: brightness(0.4) blur(4px);
  object-fit: cover;
}

.posterImage {
  object-fit: cover;
}

.infoButton {
  position: absolute;
  top: 20px;
  z-index: 1;

  &_left {
    left: 20px;
  }

  &_right {
    right: 20px;
  }
}

.label {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 45px;
  max-width: 220px;
  line-height: normal !important;
}

.choiceButton {
  width: 220px !important;
  justify-content: center;
}

.poster {
  border-radius: var(--big-radius);
}
