@use "@shared/styles/reusable.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 4px;
  background-color: var(--dark-200);
  border-radius: var(--small-radius);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  padding: 4px;
  border-radius: var(--small-radius);

  @include transition(background-color);

  &_checked {
    background-color: var(--bisky-420);
  }

  &_exclude {
    background-color: var(--dark-160);
  }

  &:hover .excludeButton,
  &_exclude .excludeButton,
  &_checked .excludeButton {
    opacity: 1;
  }
}

.itemLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.excludeButton {
  user-select: none;
  color: var(--bisky-100);
  cursor: pointer;
  opacity: 0;

  @include transition((color, opacity));

  &:hover {
    color: var(--bisky-200);
  }

  &:active {
    color: var(--bisky-400);
  }
}
