@use '@shared/styles/reusable.scss' as *;

.root {
  position: relative;
  width: calc(100% + 40px);
  @extend %invoke-scale;
}

.sliderWrapper {
  overflow: hidden;
}

.slider {
  cursor: grab;
  display: flex;
  margin-left: -24px;
  user-select: none;
}

.slide {
  flex: 0 0 auto;
  margin-left: 24px;
  opacity: 0.4;
  width: 1080px;

  &_active {
    opacity: 1;
  }
}

.arrow {
  background-color: transparent;
  border: 0;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 1;
  @extend %invoke-scale, %press, %no-select;
  @include transition((filter, scale), (250ms, 100ms));

  &:hover {
    filter: brightness(1.1);
  }

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }
}

.arrowIcon {
  height: 48px;
  width: 48px;
}

.skeleton {
  display: flex;
  flex-shrink: 0;
  gap: 24px;
  height: 380px;
  justify-content: center;
  overflow: hidden;
  width: calc(100% + 40px);
}

@include media-query(tablet) {
  .slider {
    margin-left: unset;
  }

  .slide {
    margin-left: 8px;
    width: calc(100% - 40px);
  }

  .skeleton {
    height: 180px;
    width: 100%;
  }

  .skeletonSlide:not(:first-child) {
    display: none;
  }

  .arrow {
    display: none;
  }
}
