@import "@shared/styles/reusable.scss";

.root {
  position: relative;
}

.slider {
  cursor: grab;
}

.arrowWrapper {
  position: absolute;
  inset: 0px -44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 36px;
  height: 36px;

  cursor: pointer;
  user-select: none;

  &:first-child {
    rotate: 180deg;
  }
}
