.root {
  position: relative;
}

.slider {
  cursor: grab;
  border-radius: var(--small-radius);
}

.slide {
  max-width: 1080px;
  min-width: 1080px;
}

.arrowWrapper {
  position: absolute;
  inset: 0px -44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 36px;
  height: 36px;

  cursor: pointer;
  user-select: none;

  &:first-child {
    rotate: 180deg;
  }
}
