@use "@/theme/colors.scss" as *;
@use "@/theme/extra.scss" as *;

.animePosterCard {
  position: relative;
  display: flex;
  width: 200px;
  transition: 0.2s;
  margin-bottom: 40px;

  animation: invoke 0.3s linear;

  &__image {
    border-radius: 20px;
    object-fit: cover;
  }

  &__image {
    border-radius: 20px;
    object-fit: cover;
  }

  &__score {
    top: 12px;
    right: 12px;
    position: absolute;
  }

  &__leftStatus {
    top: 12px;
    left: 12px;
    position: absolute;
  }

  &__rightStatus {
    bottom: 12px;
    right: 12px;
    position: absolute;
  }

  &__button {
    transition: 0.2s;
    bottom: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.8;

    &_setWatch {
      opacity: 0;
    }
  }

  &__label {
    pointer-events: none;
    position: absolute;
    margin-top: 4px;

    font-size: 16px;
    line-height: 19px;

    &__text {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;

      overflow: hidden;
      max-height: 40px;

      color: $bisky-light-100;
    }
  }

  &:hover {
    transform: scale(1.15);
    z-index: 10;

    .animePoster__label__text {
      padding: 20px 10px 10px;
      position: relative;
      bottom: 20px;
      z-index: -1;

      background-color: $bisky-300;
      border-radius: 0 0 20px 20px;
      max-height: unset;
    }

    .animePoster__button_setWatch {
      opacity: 0.8;
    }
  }
}
