@import "@shared/styles/reusable.scss";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 20px;

  position: fixed;
  z-index: 100;

  background-color: var(--dark-240);
  border-radius: var(--big-radius);
  backdrop-filter: blur(4px);

  @include transition(background-color);

  &:hover {
    background-color: var(--dark-200);
  }
}

.leftSide,
.rightSide {
  display: flex;
  gap: 28px;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoIcon {
  width: 50px;
  height: 50px;
}

.logoText {
  color: var(--bisky-100);
}

.searchButton {
  width: 140px !important;
  justify-content: space-between;

  background-color: var(--dark-100) !important;

  &:hover {
    background-color: var(--dark-300) !important;
  }
}

.searchText {
  color: var(--light-400);
}

.searchIcon {
  width: 24px;
  height: 24px;

  fill: var(--light-400);
}

.avatar {
  width: 40px;
  height: 40px;

  border-radius: var(--full-radius);
}
