@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: 500px;
  justify-content: center;
  max-width: 540px;
  overflow-y: auto;
}

.friend {
  align-items: center;
  border-radius: var(--radius-12);
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100px;
  width: 120px;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition((background-color, scale), (250ms, 100ms));

  &:hover {
    background-color: var(--dark-100);
  }
}

.avatar {
  border-radius: var(--radius-full);
  height: 60px;
  width: 60px;
}

.nickname {
  @include text-style(16);
}

.loggedAt {
  opacity: 0.8;
  overflow: hidden;
  text-align: center;
  @include text-style(12);
}
