@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  border-radius: var(--radius-12);
  display: flex;
  gap: 8px;
  width: 100%;
  @extend %invoke-scale, %press;
  @include transition((filter, opacity, scale), (250ms, 250ms, 100ms));

  &_big {
    background-color: var(--dark-100);
    padding: 8px;
  }

  &:hover {
    filter: brightness(1.1);
  }
}

.avatar {
  border-radius: var(--radius-full);
  height: 60px;
  width: 60px;
}

@include media-query(tablet, true) {
  .root {
    @include effect(back-shadow);
  }
}
