.mainImage {
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 100px;
  }

  &_img {
    border-radius: 20px;
  }

  &_button {
    width: 100%;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
