@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 700px;
  width: 700px;
}

.cropBox {
  border: 8px solid var(--bisky-400) !important;
  border-radius: var(--radius-20);
}

.cropMain {
  border-radius: var(--radius-20);
  height: 100%;
  position: relative !important;
  width: 100%;
}

.cropRangeWrapper {
  align-items: center;
  display: flex;
  gap: 8px;
  width: 80%;
}

.iconSmall {
  flex-shrink: 0;
  height: 24px;
  margin-left: 24px;
  width: 24px;
}

.iconBig {
  flex-shrink: 0;
  height: 48px;
  width: 48px;
}

.cropRange {
  accent-color: var(--bisky-200);
  cursor: e-resize;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  gap: 24px;
}

.button {
  width: 160px;

  &_set {
    background-color: var(--bisky-100);
  }

  &_delete {
    background-color: var(--bisky-400);
  }
}

@include media-query(tablet) {
  .root {
    height: 500px;
    width: 100%;
  }

  .cropRangeWrapper {
    width: 100%;
  }
}
