@import "@shared/styles/reusable.scss";

.background {
  position: absolute;
  width: 100%;
  height: 400px;
  opacity: 0.2;
}

.root {
  max-width: var(--fullHD);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0px;
}

.poster {
  max-width: 200px;
  width: 100%;
  height: 320px;
}

.headerInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headerButton {
  height: 40px;
  width: 40px;
}

.headerTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mainLabel {
  height: 37px;
  width: 600px;
}

.additionalLabel {
  height: 24px;
  width: 400px;
}

.additionalLabel {
  height: 24px;
  width: 400px;
}

.rating {
  height: 20px;
  width: 38px;
}

.headerMiniInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.miniText {
  height: 24px;
  width: 240px;
}

.userData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.score {
  width: 260px;
  height: 37px;
}

.otherInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.otherInfo {
  width: 400px;
  height: 24px;
}

.listWrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.listLabel {
  width: 200px;
  height: 37px;
}

.listCircle {
  width: 360px;
  height: 150px;
}

.description {
  width: 100%;
  height: 112px;
}

.player {
  width: 100%;
  height: 562px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rowLabel {
  width: 300px;
  height: 32px;
}

.rowSlider {
  display: flex;
  gap: 24px;
}

.bigCard {
  width: 528px;
  height: 290px;
}

@media screen and (max-width: $fullHD) {
  .root {
    max-width: calc(var(--HD) - 16px);
  }
}
