@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: space-between;
  width: 100%;
}

.backButton {
  background-color: transparent;
  border: 0;
  height: 32px;
  padding: 0;
  width: 32px;
}

.labelWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
}

.icon {
  height: 24px;
  width: 24px;
}

.backIcon {
  cursor: pointer;
  height: 32px;
  width: 32px;

  @extend %press;
  @include transition((scale), (100ms));
}

.empty {
  height: 32px;
  width: 32px;
}

.children {
  @include text-style(24);
}
