@use '@shared/styles/reusable.scss' as *;

.input {
  background-color: var(--dark-100);
  border: 0px;
  border-radius: var(--radius-12);
  color: var(--light-100);
  font-size: 16px;
  line-height: 18px;
  outline: 1px solid transparent;
  padding: 8px;
  text-overflow: ellipsis;
  width: 100%;
  @include effect(back-shadow);
  @include transition(outline);

  &::placeholder {
    color: var(--light-400);
  }

  &:focus {
    outline-color: var(--bisky-100);
  }

  &_error {
    outline-color: var(--red);
  }
}

.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @extend %no-select;

  &:has(.input:disabled) {
    background-color: var(--gray);
  }
}

.labelText {
  color: var(--light-100);
  opacity: 0.8;
}

.errorText {
  color: var(--red);
}

.inputWrapper {
  position: relative;
}

.icon {
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 18px;
  @extend %press, %no-select;
}

.root:has(.icon) .input {
  padding: 8px 36px 8px 8px;
}
