@use '@shared/styles/reusable.scss' as *;

.header {
  height: 200px;
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 100%;
}

@include media-query(tablet) {
  .animeHeader {
    height: 270px;
  }

  .main {
    gap: 8px;
  }
}
