@import "@shared/styles/reusable.scss";

.root {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;
  border-radius: var(--minimum-radius);
  background-color: var(--dark-100);
  border: 2px solid var(--bisky-300);

  @include transition(
    (background-color, border-color, scale),
    (0.25s, 0.25s, 0.1s)
  );

  &:active {
    scale: 0.9;
  }

  &:has(.input:checked) {
    border-color: var(--bisky-200);
    background-color: var(--bisky-200);

    .icon {
      opacity: 1;
    }
  }

  &:has(.input:disabled) {
    background-color: var(--gray);
    border-color: var(--light-400);
    cursor: default;

    &:has(.input:checked) {
      background-color: var(--light-400);
    }

    &:active {
      transform: none;
    }
  }

  &_offDisable:has(.input:disabled) {
    cursor: unset;
    background-color: var(--dark-100);
    border-color: var(--bisky-300);

    &:has(.input:checked) {
      border-color: var(--bisky-200);
      background-color: var(--bisky-200);
    }
  }
}

.icon {
  display: flex;
  align-items: center;

  width: 16px;
  height: 16px;

  opacity: 0;

  @include transition(opacity);
}
