@use "@/01-shared/themes/colors.scss" as *;
@use "@/01-shared/themes/extra.scss" as *;

.seasonCard {
  display: flex;
  position: relative;
  width: 1000px;
  height: 500px;

  &__imageContainer {
    position: absolute;
    opacity: 0;
    transition: 0.2s;

    &_current {
      opacity: 1;
    }
  }

  &__image {
    border-radius: 20px;
    filter: brightness(0.4);
  }

  &__score {
    position: absolute;
    right: 20px;
    top: 20px;

    font-size: 24px !important;
    line-height: 30px !important;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 0 20px;
    z-index: 1;

    &__image {
      border-radius: 10px;
    }

    &__label {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__genre {
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0.8;
    display: flex;
    gap: 8px;

    &__text {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;

      &::after {
        margin-left: 8px;
        content: "|";
      }

      &:last-child {
        &::after {
          content: unset;
        }
      }
    }
  }
}
