@use "@/theme/colors";

.left {
  display: flex;
  gap: 50px;
  height: 100%;

  &__logo {
    display: flex;
    gap: 10px;
    align-items: center;

    &_label {
      font-size: 32px;
      font-weight: 600;
      color: colors.$bisky;
      transition: 0.2s;
    }

    &:hover {
      .left__logo_label {
        color: colors.$bisky-hover;
      }
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 20px;

    &_link {
      font-weight: 500;
      font-size: 20px;
      color: colors.$font-white;

      width: 100px;
      height: calc(100% - 10px);

      display: flex;
      justify-content: center;
      align-items: center;

      border-top: 5px solid colors.$transparent;
      border-bottom: 5px solid colors.$transparent;
      transition: 0.2s;
      opacity: 0.9;

      &:hover {
        opacity: 1;
        border-bottom: 5px solid colors.$bisky-dark;
      }
    }
  }
}
