@use '@shared/styles/reusable.scss' as *;

.tag {
  align-items: center;
  background-color: var(--dark-200);
  border: 2px solid var(--bisky-200);
  display: flex;
  font-weight: 700;
  justify-content: center;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition(
    (scale, background-color, filter, opacity),
    (100ms, 250ms, 250ms, 250ms)
  );
}

.root {
  align-items: center;
  display: flex;

  &_big {
    gap: 8px;

    .tag {
      border-radius: var(--radius-20);
      height: 34px;
      padding: 8px;
      @include text-style(16);
    }
  }

  &_small {
    gap: 4px;

    .tag {
      border-radius: var(--radius-12);
      height: 24px;
      padding: 4px;
      @include text-style(12);
    }
  }
}

.tag:hover {
  filter: brightness(1.1);
}

.tag:disabled {
  cursor: default;
  opacity: 0.6;
}

.tag:disabled:hover {
  filter: none;
}

.tag_active {
  background-color: var(--bisky-200);
}
