@import "@shared/styles/reusable.scss";

.root {
  max-width: calc(var(--fullHD) - 104px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
  background-color: var(--dark-300);
  padding: 20px;
  border-radius: var(--big-radius);
}

.userData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: var(--big-radius);
  padding: 8px;

  @include transition(background-color);

  &:hover {
    background-color: var(--dark-100);
  }
}

.avatar {
  width: 120px !important;
  height: 120px !important;
  border-radius: var(--full-radius);
}

.avatarImage {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
}

.animes {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: 100%;
}

.status {
  &_added {
    color: var(--bisky-100);
  }

  &_watching {
    color: var(--blue);
  }

  &_completed {
    color: var(--green);
  }

  &_dropped {
    color: var(--bisky-400);
  }
}

@media screen and (max-width: $fullHD) {
  .root {
    max-width: calc(var(--HD) - 16px);
  }
}
