@use '@shared/styles/reusable.scss' as *;

.qrButtonWrapper {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
  @include transition((opacity, visibility));
}

.root {
  border-radius: var(--radius-20);
  overflow: hidden;
  position: relative;
  width: 240px;

  &::before {
    background-color: var(--dark-240);
    content: '';
    inset: 0px;
    position: absolute;
    @include effect(background-blur-shadow);
    @include transition((opacity, visibility));
  }

  &_active {
    .qrButtonWrapper,
    &::before {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      .qrButtonWrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@include media-query(tablet) {
  .root {
    display: none;
  }
}
