@import "@shared/styles/reusable.scss";

.season {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 20px;
  border-radius: var(--big-radius);
  background-color: rgba($color: #000000, $alpha: 0.6);
  overflow: hidden;
}

.season_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
}

.poster {
  width: 182px;
  height: 252px;
  border-radius: var(--small-radius);
}

.rating {
  background-color: var(--lime);
  align-self: end;
}

.genres {
  opacity: 0.8;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  opacity: 1;
  object-fit: cover;
  z-index: -1;
  @include transition(opacity, 2s);

  &_hide {
    opacity: 0;
  }
}
