@import "@shared/styles/reusable.scss";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 380px;

  border-radius: var(--big-radius);
  background-color: rgba(
    red($dark-400),
    green($dark-400),
    blue($dark-400),
    0.6
  );
  overflow: hidden;
}

.mainContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
  height: 100%;
  width: calc(100% - 40px);
}

.poster {
  width: 182px;
  height: 252px;
  object-fit: cover;
  border-radius: var(--big-radius);
}

.score {
  position: absolute;
  top: 20px;
  right: 20px;
  align-self: end;

  scale: 1.25;
  background-color: var(--lime);
}

.genres {
  position: absolute;
  bottom: 20px;
  left: 20px;

  opacity: 0.8;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  opacity: 1;
  object-fit: cover;
  z-index: -1;
  @include transition(opacity, 2s);

  &_hide {
    opacity: 0;
  }
}
