@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  margin: auto 0px;
  width: 900px;
}

.mobileControl {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0px 12px;
  width: 100%;
}

.mainBlock {
  height: 500px;
  width: 100%;
}

.backButton {
  height: 48px;
  width: 48px;
}

.counter {
  height: 75px;
  width: 110px;
}

.emptyControl {
  width: 48px;
}

@include media-query(tablet, true) {
  .sectionLabel {
    display: none !important;
  }

  .mobileControl {
    display: none;
  }
}

@include media-query(tablet) {
  .root {
    width: 100%;
  }
}
