@use '@shared/styles/reusable.scss' as *;

.root {
  fill: var(--light-100);
  @include transition((opacity, fill));

  &_barIcon {
    width: 40px;
    height: 40px;
    opacity: 0.4;

    &:hover {
      opacity: 1;
      fill: var(--bisky-100);
    }
  }

  &_footerLink {
    width: 32px;
    height: 32px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
