@use '@shared/styles/reusable.scss' as *;

.root {
  color: var(--light-100);
  cursor: pointer;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition((color, opacity, scale), (250ms, 250ms, 100ms));

  &_barIcon {
    height: 40px;
    opacity: 0.4;
    width: 40px;

    &.root_selected,
    &:hover {
      color: var(--bisky-100);
      opacity: 1;
    }
  }

  &_footerLink {
    height: 32px;
    opacity: 0.6;
    width: 32px;

    &.root_selected,
    &:hover {
      opacity: 1;
    }
  }
}
