@use '@shared/styles/reusable.scss' as *;

.root {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 4px;
  justify-content: center;
  @extend %press, %no-select;
  @include effect(back-shadow);
  @include transition(
    (background-color, filter, opacity, scale),
    (250ms, 250ms, 250ms, 100ms)
  );

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;

    &:hover {
      filter: none;
    }
  }

  &_big {
    border-radius: var(--radius-12);
    height: 34px;
    min-width: 34px;
    padding: 8px;

    .icon {
      height: 16px;
      width: 16px;
    }

    .children {
      @include text-style(16);
    }
  }

  &_small {
    border-radius: var(--radius-8);
    height: 24px;
    min-width: 24px;
    padding: 4px;

    .icon {
      height: 12px;
      width: 12px;
    }

    .children {
      @include text-style(12);
    }
  }
}
